<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}">
            <i class="fa fa-road f20 mr5"> <span th:text="#{system.name}"></span></i>
        </a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language"></i> <span th:text="#{system.lang.name}"></span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="javascript:void(0);" onclick="changeLanguage('zh_CN')">简体中文</a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="changeLanguage('en_US')">English</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span id="chnameNav" sec:authentication="principal.chname"></span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a th:href="@{/user}"><span class="ellipsis" style="display: inline-block;max-width: 160px;"><i class="fa fa-fw fa-user"></i> <span th:text="#{system.user.info-center}"></span></span></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a id="link-logout" href="javascript:void(0);"><i class="fa fa-fw fa-power-off"></i> <span th:text="#{system.logout}"></span></a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav" th:with="relativePath=${#httpServletRequest.getServletPath()}">
            <li th:class="${relativePath eq '/' or #strings.startsWith(relativePath,'/?')} ? 'active'">
                <a th:href="@{/}"><i class="fa fa-fw fa-dashboard"></i> <span th:text="#{system.home}"></span></a>
            </li>
            <li th:class="${#strings.startsWith(relativePath,'/tool')} ? 'active'">
                <a th:href="@{/tool}"><i class="fa fa-fw fa-wrench"></i> <span th:text="#{system.lca-tool}"></span></a>
            </li>
            <li sec:authorize="hasRole(T(tk.mybatis.springboot.security.RoleConstants).ADMIN)" th:class="${#strings.startsWith(relativePath,'/users')} ? 'active'">
                <a th:href="@{/users}"><i class="fa fa-fw fa-user"></i> <sapn th:text="#{system.users.manage}"></sapn></a>
            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#database1"><span class="ellipsis" style="display: inline-block;max-width: 160px;"><i class="fa fa-fw fa-database"></i> <span th:title="#{system.db.inventory}" th:text="#{system.db.inventory}"></span></span><i class="fa fa-fw fa-angle-down pull-right"></i></a>
                <ul id="database1" class="collapse" th:classappend="${#strings.startsWith(relativePath,'/db/inventory')} ? 'in'">
                    <li th:class="${#strings.startsWith(relativePath,'/db/inventory/material')} ? 'active'">
                        <a th:href="@{/db/inventory/material}"><i class="fa fa-fw fa-circle-o"></i> <span th:text="#{system.db.inventory.material}"></span></a>
                    </li>
                    <li th:class="${#strings.startsWith(relativePath,'/db/inventory/transport')} ? 'active'">
                        <a th:href="@{/db/inventory/transport}"><i class="fa fa-fw fa-circle-o"></i> <span th:text="#{system.db.inventory.transport}"></span></a>
                    </li>
                    <li th:class="${#strings.startsWith(relativePath,'/db/inventory/machine')} ? 'active'">
                        <a th:href="@{/db/inventory/machine}"><span class="ellipsis" style="display: inline-block;max-width: 160px;"><i class="fa fa-fw fa-circle-o"></i> <span th:title="#{system.db.inventory.machine}" th:text="#{system.db.inventory.machine}"></span></span></a>
                    </li>
                    <li th:class="${#strings.startsWith(relativePath,'/db/inventory/fuel')} ? 'active'">
                        <a th:href="@{/db/inventory/fuel}"><i class="fa fa-fw fa-circle-o"></i> <span th:text="#{system.db.inventory.fuel}"></span></a>
                    </li>
                </ul>
            </li>
            <li th:class="${#strings.startsWith(relativePath,'/db/influence/default')} ? 'active'">
                <a th:href="@{/db/influence/default}"><span class="ellipsis" style="display: inline-block;max-width: 160px;"><i class="fa fa-fw fa-database"></i> <span th:title="#{system.db.influence.default}" th:text="#{system.db.influence.default}"></span></span></a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>