<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{system.db.inventory.fuel}"></title>
    <div th:replace="common/head"></div>
    <link th:href="@{/css/myTable.css}" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
        <div th:replace="common/navigation"></div>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row page-header-box">
                    <div class="col-lg-12">
                        <h1 class="page-header" th:text="#{system.db.inventory.fuel}"></h1>
                    </div>
                </div>
                <!-- Page Heading -->
                <div class="panel king-panel1">
                    <div class="panel-heading king-panel-head1 king-panel-top3" role="tab" id="headingOne">
                        <div class="king-panel-control">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="fa fa-minus-square-o fa-lg"></a>
                        </div>
                        <h3 class="panel-title" th:text="#{system.query.condition}"></h3>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class='panel-body'>
                        <form role="form" id="form-fuel-query">
                            <div class="row">
	                            <div class="col-sm-6 col-md-6 col-lg-4">
		                            <div class="form-group">
		                                <div class="input-group">
		                                    <div class="input-group-addon" th:text="#{tool.fuel-type}"></div>
		                                    <input id="fuelTypeQuery" class="form-control" type="text" th:placeholder="#{system.input}">
		                                </div>
		                            </div>
	                            </div>
                            </div>
                            <div class="row">
	                            <div class="col-lg-12">
	                                <hr class="mt5 mb15">
	                                <button type="submit" class="king-btn king-info king-radius"><i class="fa fa-search"></i> <span th:text="#{system.query}"></span></button> 
	                                <button type="button" class="king-btn king-success king-radius" id="btn-reset-refresh"><i class="fa fa-refresh"></i> <span th:text="#{system.refresh}"></span></button>
	                                <button type="button" class="king-btn king-radius king-warning" id="btn-add"><i class="fa fa-plus"></i> <span th:text="#{system.add}"></span></button>
	                            </div>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                <!---->
                <div class="panel king-panel1">
                    <div class="panel-heading king-panel-head1 king-panel-top3" role="tab" id="headingTwo">
                        <div class="king-panel-control">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="fa fa-minus-square-o fa-lg"></a>
                        </div>
                        <h3 class="panel-title" th:text="#{system.db.inventory.fuel}"></h3>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                    <div class='panel-body'>
                        <div id="div-table-container">
                            <table id="table-fuel" class="table table-bordered table-hover table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th rowspan="2" th:text="#{tool.fuel-type}"></th>
                                        <th rowspan="2" th:text="#{db.unit}"></th>
                                        <th rowspan="2" th:text="#{tool.cost}"></th>
                                        <th rowspan="2" th:title="#{db.currency-type}" th:text="#{db.currency-type}"></th>
                                        <th rowspan="2" th:text="#{db.cost-source}"></th>
                                        <th rowspan="2" th:title="#{db.net-calorific}+'(MJ)'" th:text="#{db.net-calorific}+'(MJ)'"></th>
                                        <th class="text-center" colspan="8" style="width: 800px;" th:text="#{tool.emission}+'(kg)'"></th>
                                        <th rowspan="2" th:text="#{db.data-source}"></th>
                                        <th rowspan="2" th:title="#{db.data-coll-time}" th:text="#{db.data-coll-time}"></th>
                                        <th rowspan="2" th:text="#{system.operation}"></th>
                                    </tr>
                                    <tr>
                                        <th>CO<sub>2</sub></th>
                                        <th>CH<sub>4</sub></th>
                                        <th>N<sub>2</sub>O</th>
                                        <th>CO</th>
                                        <th>SO<sub>2</sub></th>
                                        <th>NO<sub>x</sub></th>
                                        <th>Pb</th>
                                        <th>Zn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- 材料modal -->
                <div class="modal fade" data-backdrop="static" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content" style="border-radius:5px;">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                      </div>
                      <form id="form-fuel" class="form-horizontal">
                      <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="hidden" name="id" id="id"/>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" th:title="#{system.required}"><span class="king-required-tip text-danger mr5">*</span><span th:text="#{tool.fuel-type}"></span></label>
                                    <div class="col-md-8">
                                        <input type="text" name="fuelType" class="form-control" id="fuelType" th:placeholder="#{system.input}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" th:text="#{db.unit}"></label>
                                    <div class="col-md-8">
                                        <input type="text" name="unit" class="form-control" id="unit" th:placeholder="#{system.input}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" th:text="#{tool.cost}"></label>
                                    <div class="col-md-8">
                                        <input type="text" name="cost" class="form-control" id="cost" th:placeholder="#{system.input}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" th:text="#{db.currency-type}"></label>
                                    <div class="col-md-8">
                                        <input type="text" name="currencyType" class="form-control" id="currencyType" th:placeholder="#{system.input}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" th:text="#{db.cost-source}"></label>
                                    <div class="col-md-8">
                                        <input type="text" name="costSource" class="form-control" id="costSource" th:placeholder="#{system.input}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" th:text="#{db.net-calorific}+'(MJ)'"></label>
                                    <div class="col-md-8">
                                        <input type="text" name="energyConsume" class="form-control" id="energyConsume" th:placeholder="#{db.sci-not}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">CO<sub>2</sub>&nbsp;<span th:text="#{tool.emission}"></span>(kg)</label>
                                    <div class="col-md-8">
                                        <input type="text" name="emissionCo2" class="form-control" id="emissionCo2" th:placeholder="#{db.sci-not}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">CH<sub>4</sub>&nbsp;<span th:text="#{tool.emission}"></span>(kg)</label>
                                    <div class="col-md-8">
                                        <input type="text" name="emissionCh4" class="form-control" id="emissionCh4" th:placeholder="#{db.sci-not}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">N<sub>2</sub>O&nbsp;<span th:text="#{tool.emission}"></span>(kg)</label>
                                    <div class="col-md-8">
                                        <input type="text" name="emissionN2o" class="form-control" id="emissionN2o" th:placeholder="#{db.sci-not}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">CO&nbsp;<span th:text="#{tool.emission}"></span>(kg)</label>
                                    <div class="col-md-8">
                                        <input type="text" name="emissionCo" class="form-control" id="emissionCo" th:placeholder="#{db.sci-not}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">SO<sub>2</sub>&nbsp;<span th:text="#{tool.emission}"></span>(kg)</label>
                                    <div class="col-md-8">
                                        <input type="text" name="emissionSo2" class="form-control" id="emissionSo2" th:placeholder="#{db.sci-not}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">NO<sub>x</sub>&nbsp;<span th:text="#{tool.emission}"></span>(kg)</label>
                                    <div class="col-md-8">
                                        <input type="text" name="emissionNox" class="form-control" id="emissionNox" th:placeholder="#{db.sci-not}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Pb&nbsp;<span th:text="#{tool.emission}"></span>(kg)</label>
                                    <div class="col-md-8">
                                        <input type="text" name="emissionPb" class="form-control" id="emissionPb" th:placeholder="#{db.sci-not}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Zn&nbsp;<span th:text="#{tool.emission}"></span>(kg)</label>
                                    <div class="col-md-8">
                                        <input type="text" name="emissionZn" class="form-control" id="emissionZn" th:placeholder="#{db.sci-not}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" th:text="#{db.data-source}"></label>
                                    <div class="col-md-8">
                                        <input type="text" name="dataSource" class="form-control" id="dataSource" th:placeholder="#{system.input}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" th:text="#{db.data-coll-time}"></label>
                                    <div class="col-md-8">
                                        <input type="text" name="collectTime" class="form-control" id="collectTime" th:placeholder="#{db.in-year}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="king-btn king-radius king-primary"><span th:text="#{system.save}"></span></button>
                        <button type="button" class="king-btn king-radius king-default" data-dismiss="modal"><span th:text="#{system.cancel}"></span></button>
                      </div>
                      </form>
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <div th:replace="common/script"></div>
    <!-- js -->
    <script th:src="@{/js/constant.js}"></script>
    <script th:src="@{/js/fuel-manage.js}"></script>
</body>
</html>