<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>您还未登录</title>
    <div th:replace="common/head"></div>
</head>
<body>
    <div class="container">
        <div class="row data-panel">
            <div class="col-lg-12">
                <div class="king-widget2">
                    <div class="king-widget-content p20">
                        <div class="king-counter king-counter-lg">
                            <div class="king-counter-number-group">
                                <span class="king-counter-icon ml10 white">
                                <i class="fa fa-warning fa-3x show"></i>
                                </span> <span class="king-counter-number">401</span>
                            </div>
                            <div class="king-counter-label f16 text-muted">您还未登录</div>
                            <br/>
                            <a th:href="@{/login}" class="king-btn king-info king-radius">立即登录</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>