<div id="step-influence" style="display:none;">
	<div class="panel king-panel1" id="">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<h3 class="panel-title"><b>温室效应</b></h3>
		</div>
		<div class="panel-body">
		    <form class="form-horizontal" role="form">
		      <div class="form-group">
			    <label class="col-sm-2 control-label">温室效应值：</label>
			    <div class="col-sm-10">
			      <p id="gwpValue" class="form-control-static"></p>
			    </div>
			  </div>
		    </form>
			<form id="gwpForm" class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-md-2 control-label">请选择 GWP：</label>
					<div class="col-md-6">
						<select id="gwpSelect" name="gwpSelect" class="form-control"
							style="width: 100%">
						</select>
					</div>
				</div>
				<div class="text-center">
                    <button class="king-btn king-radius king-success" type="submit">计算温室效应</button>
                </div>
			</form>
		</div>
	</div>
				
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<div class="text-center">
				<button class="king-btn king-radius king-success" type="button" id="influence-prevStep">
					<i class="fa fa-arrow-left btn-icon"></i>上一步
				</button>
				<button class="king-btn king-radius king-success" type="button" id="influence-nextStep">
					<i class="fa fa-arrow-right btn-icon"></i>下一步
				</button>
			</div>
		</div>
	</div>
</div>