<div id="step-input">
<form class="form-horizontal" role="form" id="form-input">
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<h3 class="panel-title"><b th:text="#{tool.target-choose}"></b></h3>
		</div>
			<div class="panel-body">
				<div class="row">
				    <div class="col-md-6">
					    <fieldset>
					        <legend th:text="#{tool.stage-range}"></legend>
					        <div class="form-group">
			                    <div class="col-md-6">
			                        <div class="checkbox">
								        <label><input type="checkbox" id="materialRange"> <span th:text="#{tool.material}"></span></label>
								    </div>
			                    </div>
			                    <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="transConsRange"> <span th:text="#{tool.transCons}"></span></label>
                                    </div>
                                </div>
		                    </div>
					        <div class="form-group">
					           <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="conserveRange"> <span th:text="#{tool.conserve}"></span></label>
                                    </div>
                                </div>
			                    <div class="col-md-6">
			                        <div class="checkbox">
								        <label><input type="checkbox" id="use1Range"> <span th:text="#{tool.use1}"></span></label>
								    </div>
			                    </div>
		                    </div>
					        <div class="form-group">
					           <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="use2Range"> <span th:text="#{tool.use2}"></span></label>
                                    </div>
                                </div>
			                    <div class="col-md-6">
			                        <div class="checkbox">
								        <label><input type="checkbox" id="use3Range"> <span th:text="#{tool.use3}"></span></label>
								    </div>
			                    </div>
			                    
		                    </div>
					        <div class="form-group">
			                    <div class="col-md-6">
			                        <div class="checkbox">
								        <label><input type="checkbox" id="recycleRange"> <span th:text="#{tool.recycle}"></span></label>
								    </div>
			                    </div>
		                    </div>
					    </fieldset>
				    
				    </div>
				    <div class="col-md-6">
					    <fieldset>
					        <legend th:text="#{tool.eval-range}"></legend>
					        <div class="form-group">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="energyRange"> <span th:text="#{tool.energy}"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="carbonRange"> <span th:text="#{tool.carbon}"></span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="sourRange"> <span th:text="#{tool.sour}"></span></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="eutrophicationRange"> <span th:text="#{tool.eutrophication}"></span></label>
                                    </div>
                                </div>
                            </div>
                            <!-- 
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="ozoneRange"> 臭氧空洞</label>
                                    </div>
                                </div>
                            </div>
                             -->
					    </fieldset>
				    
				    </div>
				</div>
			</div>
	</div>
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<h3 class="panel-title"><b th:text="#{tool.stru-layer-info}"></b></h3>
		</div>
			<div class="panel-body">
			    <fieldset>
	                <legend th:text="#{tool.fund-info}"></legend>
				    <div class="form-group">
	                    <label class="col-md-2 control-label"><span
	                        class="king-required-tip text-danger mr5" th:title="#{system.required}">*</span><span th:text="#{tool.pavement-type}"></span></label>
	                    <div class="col-md-2">
	                        <select id="roadType" name="roadType" class="form-control" style="width: 100%">
	                        </select>
	                    </div>
	                    <label class="col-md-2 control-label"><span
	                        class="king-required-tip text-danger mr5" th:title="#{system.required}">*</span><span th:text="#{tool.pavement-length}"></span></label>
	                    <div class="col-md-2">
	                       <div class="input-group">
	                        <input type="text" class="form-control" placeholder="" id="roadLength" th:placeholder="#{system.input}"
	                            name="roadLength">
	                       <div class="input-group-addon">m</div>
	                       </div>
	                    </div>
	                    <label class="col-md-2 control-label"><span
	                        class="king-required-tip text-danger mr5" th:title="#{system.required}">*</span><span th:text="#{tool.pavement-width}"></span></label>
	                    <div class="col-md-2">
	                       <div class="input-group">
	                        <input type="text" class="form-control" placeholder="" id="roadWidth" th:placeholder="#{system.input}"
	                            name="roadWidth">
	                        <div class="input-group-addon">m</div>
	                       </div>
	                    </div>
	                </div>
                </fieldset>
			    <div id="asphaltSurface">
					<fieldset>
						<legend th:text="#{tool.upper-layer}"></legend>
						<div class="form-group">
							<label class="col-md-2 control-label"><span
								class="king-required-tip text-danger mr5" th:title="#{system.required}">*</span><span th:text="#{tool.upper-layer-thick}"></span></label>
							<div class="col-md-3">
							<div class="input-group">
								<input type="text" class="form-control" th:placeholder="#{system.input}" id="asphaltTopLayerThickness"
									name="asphaltTopLayerThickness">
	                        <div class="input-group-addon">m</div>
	                       </div>
							</div>
							<div id="asphaltTopLayerMaterialSelect">
							<label class="col-md-2 control-label" th:text="#{tool.layer-material}"></label>
		                    <div class="col-md-3">
		                        <select id="asphaltTopLayerMaterial" name="asphaltTopLayerMaterial" class="form-control" style="width: 100%">
		                        </select>
		                    </div>
		                    </div>
						</div>
						<div class="form-group" id="topLayerAsphaltTypeSelect">
							<label class="col-md-2 control-label" th:text="#{tool.asph-type}"></label>
		                    <div class="col-md-3">
		                        <select id="topLayerAsphaltType" name="topLayerAsphaltType" class="form-control" style="width: 100%">
		                        </select>
		                    </div>
						   <label class="col-md-2 control-label" th:text="#{tool.whetstone}"></label>
	                        <div class="col-md-3">
	                            <div class="input-group">
	                            <input type="text" class="form-control" th:placeholder="#{tool.percent}" id="asphaltTopLayerWhetstoneRatio"
	                                name="asphaltTopLayerWhetstoneRatio">
	                            <div class="input-group-addon">%</div>
	                            </div>
	                        </div>
						</div>
					</fieldset>
					<fieldset>
						<legend th:text="#{tool.midd-layer}"></legend>
						<div class="form-group">
							<label class="col-md-2 control-label"><span
								class="king-required-tip text-danger mr5" th:title="#{system.required}">*</span><span th:text="#{tool.midd-layer-thick}"></span></label>
							<div class="col-md-3">
							<div class="input-group">
								<input type="text" class="form-control" th:placeholder="#{system.input}" id="asphaltMiddleLayerThickness"
									name="asphaltMiddleLayerThickness">
	                        <div class="input-group-addon">m</div>
	                        </div>
							</div>
							<div id="asphaltMiddleLayerMaterialSelect">
							<label class="col-md-2 control-label" th:text="#{tool.layer-material}"></label>
		                    <div class="col-md-3">
		                        <select id="asphaltMiddleLayerMaterial" name="asphaltMiddleLayerMaterial" class="form-control" style="width: 100%">
		                        </select>
		                    </div>
		                    </div>
						</div>
						<div class="form-group" id="middleLayerAsphaltTypeSelect">
							<label class="col-md-2 control-label" th:text="#{tool.asph-type}"></label>
		                    <div class="col-md-3">
		                        <select id="middleLayerAsphaltType" name="middleLayerAsphaltType" class="form-control" style="width: 100%">
		                        </select>
		                    </div>
						   <label class="col-md-2 control-label" th:text="#{tool.whetstone}"></label>
	                        <div class="col-md-3">
	                            <div class="input-group">
	                            <input type="text" class="form-control" th:placeholder="#{tool.percent}" id="asphaltMiddleLayerWhetstoneRatio"
	                                name="asphaltMiddleLayerWhetstoneRatio">
	                            <div class="input-group-addon">%</div>
	                            </div>
	                        </div>
						</div>
					</fieldset>
					<fieldset>
						<legend th:text="#{tool.below-layer}"></legend>
						<div class="form-group">
							<label class="col-md-2 control-label"><span
								class="king-required-tip text-danger mr5" th:title="#{system.required}">*</span><span th:text="#{tool.below-layer-thick}"></span></label>
							<div class="col-md-3">
							<div class="input-group">
								<input type="text" class="form-control" th:placeholder="#{system.input}" id="asphaltBelowLayerThickness"
									name="asphaltBelowLayerThickness">
	                        <div class="input-group-addon">m</div>
	                        </div>
							</div>
							<div id="asphaltBelowLayerMaterialSelect">
							<label class="col-md-2 control-label" th:text="#{tool.layer-material}"></label>
		                    <div class="col-md-3">
		                        <select id="asphaltBelowLayerMaterial" name="asphaltBelowLayerMaterial" class="form-control" style="width: 100%">
		                        </select>
		                    </div>
		                    </div>
						</div>
						<div class="form-group" id="belowLayerAsphaltTypeSelect">
							<label class="col-md-2 control-label" th:text="#{tool.asph-type}"></label>
		                    <div class="col-md-3">
		                        <select id="belowLayerAsphaltType" name="belowLayerAsphaltType" class="form-control" style="width: 100%">
		                        </select>
		                    </div>
						   <label class="col-md-2 control-label" th:text="#{tool.whetstone}"></label>
	                        <div class="col-md-3">
	                            <div class="input-group">
	                            <input type="text" class="form-control" th:placeholder="#{tool.percent}" id="asphaltBelowLayerWhetstoneRatio"
	                                name="asphaltBelowLayerWhetstoneRatio">
	                            <div class="input-group-addon">%</div>
	                            </div>
	                        </div>
						</div>
					</fieldset>
				</div>
				<div id="concreteSurface" style="display: none;">
					<fieldset>
	                    <legend th:text="#{tool.upper-layer}"></legend>
	                    <div class="form-group">
	                        <label class="col-md-2 control-label"><span
	                            class="king-required-tip text-danger mr5" th:title="#{system.required}">*</span><span th:text="#{tool.upper-layer-thick}"></span></label>
	                        <div class="col-md-2">
	                        <div class="input-group">
	                            <input type="text" class="form-control" th:placeholder="#{system.input}" id="concreteTopLayerThickness"
	                                name="concreteTopLayerThickness">
	                        <div class="input-group-addon">m</div>
	                       </div>
	                        </div>
	                        <div id="concreteTopLayerMaterialSelect">
	                        <label class="col-md-2 control-label" th:text="#{tool.layer-material}"></label>
	                        <div class="col-md-2">
	                            <select id="concreteTopLayerMaterial" name="concreteTopLayerMaterial" class="form-control" style="width: 100%">
	                            </select>
	                        </div>
	                        </div>
	                        <div id="topReinforcementRateDiv" style="display: none;">
		                        <label class="col-md-2 control-label" th:text="#{tool.reinforce}"></label>
	                            <div class="col-md-2">
	                                <input type="text" class="form-control" th:placeholder="#{system.input}" id="topReinforcementRate"
	                                    name="topReinforcementRate">
	                            </div>
	                        </div>
	                    </div>
	                    <div class="form-group" id="topMixProportion">
	                       <label class="col-md-2 control-label" th:text="#{tool.with-ratio}+'x'"></label>
	                        <div class="col-md-2">
	                            <input type="text" class="form-control" th:placeholder="#{tool.ratio}" id="topMixProportionX"
	                                name="topMixProportionX">
	                        </div>
	                       <label class="col-md-2 control-label" th:text="#{tool.with-ratio}+'y'"></label>
	                        <div class="col-md-2">
	                            <input type="text" class="form-control" th:placeholder="#{tool.ratio}" id="topMixProportionY"
	                                name="topMixProportionY">
	                        </div>
	                       <label class="col-md-2 control-label" th:text="#{tool.with-ratio}+'z'"></label>
	                        <div class="col-md-2">
	                            <input type="text" class="form-control" th:placeholder="#{tool.ratio}" id="topMixProportionZ"
	                                name="topMixProportionZ">
	                        </div>
	                    </div>
	                    <div class="form-group" id="topCementAdmixtureSelect">
	                       <label class="col-md-2 control-label" th:text="#{tool.admix-type}"></label>
	                       <div class="col-md-3">
                                <select id="topCementAdmixture" name="topCementAdmixture" class="form-control" style="width: 100%">
                                </select>
                            </div>
	                    </div>
	                    <div class="row" id="topCementAdmixtureVolume">
	                       <div id="snjDiv" class="col-md-4" style="display: none;">
	                           <div class="form-group">
	                               <label class="col-md-6 control-label" th:text="#{tool.snj}+#{tool.volume}"></label>
		                            <div class="col-md-6">
		                                <input type="text" class="form-control" th:placeholder="#{system.input}" id="snj"
		                                    name="snj">
		                            </div>
	                           </div>
	                       </div>
	                       <div id="jqjDiv" class="col-md-4" style="display: none;">
	                           <div class="form-group">
	                               <label class="col-md-6 control-label" th:text="#{tool.jqj}+#{tool.volume}"></label>
		                            <div class="col-md-6">
		                                <input type="text" class="form-control" th:placeholder="#{system.input}" id="jqj"
		                                    name="jqj">
		                            </div>
	                           </div>
	                       </div>
	                       <div id="zsjDiv" class="col-md-4" style="display: none;">
	                           <div class="form-group">
	                               <label class="col-md-6 control-label" th:text="#{tool.zsj}+#{tool.volume}"></label>
		                            <div class="col-md-6">
		                                <input type="text" class="form-control" th:placeholder="#{system.input}" id="zsj"
		                                    name="zsj">
		                            </div>
	                           </div>
	                       </div>
	                       <div id="qlzsjDiv" class="col-md-4" style="display: none;">
	                           <div class="form-group">
	                               <label class="col-md-6 control-label" th:text="#{tool.qlzsj}+#{tool.volume}"></label>
		                            <div class="col-md-6">
		                                <input type="text" class="form-control" th:placeholder="#{system.input}" id="qlzsj"
		                                    name="qlzsj">
		                            </div>
	                           </div>
	                       </div>
	                       <div id="hnjDiv" class="col-md-4" style="display: none;">
	                           <div class="form-group">
	                               <label class="col-md-6 control-label" th:text="#{tool.hnj}+#{tool.volume}"></label>
		                            <div class="col-md-6">
		                                <input type="text" class="form-control" th:placeholder="#{system.input}" id="hnj"
		                                    name="hnj">
		                            </div>
	                           </div>
	                       </div>
	                       <div id="jsjDiv" class="col-md-4" style="display: none;">
	                           <div class="form-group">
	                               <label class="col-md-6 control-label" th:text="#{tool.jsj}+#{tool.volume}"></label>
		                            <div class="col-md-6">
		                                <input type="text" class="form-control" th:placeholder="#{system.input}" id="jsj"
		                                    name="jsj">
		                            </div>
	                           </div>
	                       </div>
	                    </div>
	                </fieldset>
	                <fieldset>
	                    <legend th:text="#{tool.below-layer}"></legend>
	                    <div class="form-group">
	                        <label class="col-md-2 control-label"><span
	                            class="king-required-tip text-danger mr5" th:title="#{system.required}">*</span><span th:text="#{tool.below-layer-thick}"></span></label>
	                        <div class="col-md-2">
	                        <div class="input-group">
	                            <input type="text" class="form-control" th:placeholder="#{system.input}" id="concreteBelowLayerThickness"
	                                name="concreteBelowLayerThickness">
	                        <div class="input-group-addon">m</div>
	                       </div>
	                        </div>
	                        <div id="concreteBelowLayerMaterialSelect">
	                        <label class="col-md-2 control-label" th:text="#{tool.layer-material}"></label>
	                        <div class="col-md-2">
	                            <select id="concreteBelowLayerMaterial" name="concreteBelowLayerMaterial" class="form-control" style="width: 100%">
	                            </select>
	                        </div>
	                        </div>
	                        <div id="belowReinforcementRateDiv" style="display: none;">
                                <label class="col-md-2 control-label" th:text="#{tool.reinforce}"></label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" th:placeholder="#{system.input}" id="belowReinforcementRate"
                                        name="belowReinforcementRate">
                                </div>
                            </div>
	                    </div>
	                    <div class="form-group" id="belowMixProportion">
                           <label class="col-md-2 control-label" th:text="#{tool.with-ratio}+'x'"></label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" th:placeholder="#{tool.ratio}" id="belowMixProportionX"
                                    name="belowMixProportionX">
                            </div>
                           <label class="col-md-2 control-label" th:text="#{tool.with-ratio}+'y'"></label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" th:placeholder="#{tool.ratio}" id="belowMixProportionY"
                                    name="belowMixProportionY">
                            </div>
                           <label class="col-md-2 control-label" th:text="#{tool.with-ratio}+'z'"></label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" th:placeholder="#{tool.ratio}" id="belowMixProportionZ"
                                    name="belowMixProportionZ">
                            </div>
                        </div>
                        <div class="form-group" id="belowCementAdmixtureSelect">
                           <label class="col-md-2 control-label" th:text="#{tool.admix-type}"></label>
                           <div class="col-md-3">
                                <select id="belowCementAdmixture" name="belowCementAdmixture" class="form-control" style="width: 100%">
                                </select>
                            </div>
                        </div>
                        <div class="row" id="belowCmentAdmixtureVolume">
                           <div id="snjDiv2" class="col-md-4" style="display: none;">
                               <div class="form-group">
                                   <label class="col-md-6 control-label" th:text="#{tool.snj}+#{tool.volume}"></label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" th:placeholder="#{system.input}" id="snj2"
                                            name="snj2">
                                    </div>
                               </div>
                           </div>
                           <div id="jqjDiv2" class="col-md-4" style="display: none;">
                               <div class="form-group">
                                   <label class="col-md-6 control-label" th:text="#{tool.jqj}+#{tool.volume}"></label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" th:placeholder="#{system.input}" id="jqj2"
                                            name="jqj2">
                                    </div>
                               </div>
                           </div>
                           <div id="zsjDiv2" class="col-md-4" style="display: none;">
                               <div class="form-group">
                                   <label class="col-md-6 control-label" th:text="#{tool.zsj}+#{tool.volume}"></label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" th:placeholder="#{system.input}" id="zsj2"
                                            name="zsj2">
                                    </div>
                               </div>
                           </div>
                           <div id="qlzsjDiv2" class="col-md-4" style="display: none;">
                               <div class="form-group">
                                   <label class="col-md-6 control-label" th:text="#{tool.qlzsj}+#{tool.volume}"></label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" th:placeholder="#{system.input}" id="qlzsj2"
                                            name="qlzsj2">
                                    </div>
                               </div>
                           </div>
                           <div id="hnjDiv2" class="col-md-4" style="display: none;">
                               <div class="form-group">
                                   <label class="col-md-6 control-label" th:text="#{tool.hnj}+#{tool.volume}"></label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" th:placeholder="#{system.input}" id="hnj2"
                                            name="hnj2">
                                    </div>
                               </div>
                           </div>
                           <div id="jsjDiv2" class="col-md-4" style="display: none;">
                               <div class="form-group">
                                   <label class="col-md-6 control-label" th:text="#{tool.jsj}+#{tool.volume}"></label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" th:placeholder="#{system.input}" id="jsj2"
                                            name="jsj2">
                                    </div>
                               </div>
                           </div>
                        </div>
	                </fieldset>
				</div>
				<div id="shopBrickSurface" style="display: none;">
					<fieldset>
	                    <legend th:text="#{tool.brick-size}"></legend>
	                    <div class="form-group">
	                        <label class="col-md-2 control-label"><span
	                            class="king-required-tip text-danger mr5" th:title="#{system.required}">*</span><span th:text="#{tool.brick-length}"></span></label>
	                        <div class="col-md-2">
	                        <div class="input-group">
	                            <input type="text" class="form-control" th:placeholder="#{system.input}" id="brickLength"
	                                name="brickLength">
	                        <div class="input-group-addon">m</div>
	                       </div>
	                        </div>
	                        <label class="col-md-2 control-label"><span
	                            class="king-required-tip text-danger mr5" th:title="#{system.required}">*</span><span th:text="#{tool.brick-width}"></span></label>
	                        <div class="col-md-2">
	                        <div class="input-group">
	                            <input type="text" class="form-control" th:placeholder="#{system.input}" id="brickWidth"
	                                name="brickWidth">
	                        <div class="input-group-addon">m</div>
	                       </div>
	                        </div>
	                        <label class="col-md-2 control-label"><span
	                            class="king-required-tip text-danger mr5" th:title="#{system.required}">*</span><span th:text="#{tool.brick-height}"></span></label>
	                        <div class="col-md-2">
	                        <div class="input-group">
	                            <input type="text" class="form-control" th:placeholder="#{system.input}" id="brickHeight"
	                                name="brickHeight">
	                        <div class="input-group-addon">m</div>
	                       </div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                       <label class="col-md-2 control-label"><span
                                class="king-required-tip text-danger mr5" th:title="#{system.required}">*</span><span th:text="#{tool.brick-type}"></span></label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="" id="brickType"
                                    name="brickType">
                            </div>
	                    </div>
	                </fieldset>
				</div>
				<fieldset>
					<legend th:text="#{tool.base-layer}"></legend>
					<div class="form-group">
						<label class="col-md-2 control-label"><span
							class="king-required-tip text-danger mr5" th:title="#{system.required}">*</span><span th:text="#{tool.base-layer-thick}"></span></label>
						<div class="col-md-3">
						<div class="input-group">
							<input type="text" class="form-control" th:placeholder="#{system.input}" id="baseLayerThickness"
								name="baseLayerThickness">
                        <div class="input-group-addon">m</div>
                       </div>
						</div>
						<div id="baseLayerMaterialSelect">
						<label class="col-md-2 control-label" th:text="#{tool.base-layer-mater}"></label>
	                    <div class="col-md-3">
	                        <select id="baseLayerMaterial" name="baseLayerMaterial" class="form-control" style="width: 100%">
	                        </select>
	                    </div>
	                    </div>
					</div>
					<div class="form-group" id="baseLayerMaterial-asphalt">
						<label class="col-md-2 control-label" th:text="#{tool.asph-type}"></label>
	                    <div class="col-md-3">
	                        <select id="baseLayerAsphaltType" name="baseLayerAsphaltType" class="form-control" style="width: 100%">
	                        </select>
	                    </div>
					   <label class="col-md-2 control-label" th:text="#{tool.whetstone}"></label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" th:placeholder="#{tool.percent}" id="baseLayerWhetstoneRatio"
                                name="baseLayerWhetstoneRatio">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
					</div>
					<div class="form-group" id="baseLayerMaterial-CementLime" style="display: none;">
					   <label class="col-md-2 control-label" th:text="#{tool.cement-use}"></label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" th:placeholder="#{tool.percent}" id="baseLayerCement"
                                name="baseLayerCement">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
					   <label class="col-md-2 control-label" th:text="#{tool.lime-use}"></label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" th:placeholder="#{tool.percent}" id="baseLayerLime"
                                name="baseLayerLime">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
					</div>
				</fieldset>
				<fieldset>
					<legend th:text="#{tool.butt-layer}"></legend>
					<div class="form-group">
						<label class="col-md-2 control-label"><span
							class="king-required-tip text-danger mr5" th:title="#{system.required}">*</span><span th:text="#{tool.butt-layer-thick}"></span></label>
						<div class="col-md-3">
						<div class="input-group">
							<input type="text" class="form-control" th:placeholder="#{system.input}" id="bottomBaseLayerThickness"
								name="bottomBaseLayerThickness">
                        <div class="input-group-addon">m</div>
                       </div>
						</div>
						<div id="bottomBaseLayerMaterialSelect">
						<label class="col-md-2 control-label" th:text="#{tool.butt-layer-mater}"></label>
	                    <div class="col-md-3">
	                        <select id="bottomBaseLayerMaterial" name="bottomBaseLayerMaterial" class="form-control" style="width: 100%">
	                        </select>
	                    </div>
	                    </div>
					</div>
					<div class="form-group" id="bottomBaseLayerMaterial-asphalt">
						<label class="col-md-2 control-label" th:text="#{tool.asph-type}"></label>
	                    <div class="col-md-3">
	                        <select id="bottomBaseLayerAsphaltType" name="bottomBaseLayerAsphaltType" class="form-control" style="width: 100%">
	                        </select>
	                    </div>
					   <label class="col-md-2 control-label" th:text="#{tool.whetstone}"></label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" th:placeholder="#{tool.percent}" id="bottomBaseLayerWhetstoneRatio"
                                name="bottomBaseLayerWhetstoneRatio">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
					</div>
					<div class="form-group" id="bottomBaseLayerMaterial-CementLime" style="display: none;">
					   <label class="col-md-2 control-label" th:text="#{tool.cement-use}"></label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" th:placeholder="#{tool.percent}" id="bottomBaseLayerCement"
                                name="bottomBaseLayerCement">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
					   <label class="col-md-2 control-label" th:text="#{tool.lime-use}"></label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" th:placeholder="#{tool.percent}" id="bottomBaseLayerLime"
                                name="bottomBaseLayerLime">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
					</div>
				</fieldset>
				<fieldset>
                    <legend th:text="#{tool.cush-layer}"></legend>
                    <div class="form-group">
                        <label class="col-md-2 control-label"><span
                            class="king-required-tip text-danger mr5" th:title="#{system.required}">*</span><span th:text="#{tool.cush-layer-thick}"></span></label>
                        <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control" th:placeholder="#{system.input}" id="cushionLayerThickness"
                                name="cushionLayerThickness">
                        <div class="input-group-addon">m</div>
                       </div>
                        </div>
                        <div id="cushionLayerMaterialSelect">
                        <label class="col-md-2 control-label" th:text="#{tool.cush-layer-mater}"></label>
                        <div class="col-md-3">
                            <select id="cushionLayerMaterial" name="cushionLayerMaterial" class="form-control" style="width: 100%">
                            </select>
                        </div>
                        </div>
                    </div>
                    <div class="form-group" id="cushionLayerMaterial-asphalt">
                        <label class="col-md-2 control-label" th:text="#{tool.asph-type}"></label>
                        <div class="col-md-3">
                            <select id="cushionLayerAsphaltType" name="cushionLayerAsphaltType" class="form-control" style="width: 100%">
                            </select>
                        </div>
                       <label class="col-md-2 control-label" th:text="#{tool.whetstone}"></label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" th:placeholder="#{tool.percent}" id="cushionLayerWhetstoneRatio"
                                name="cushionLayerWhetstoneRatio">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="cushionLayerMaterial-CementLime" style="display: none;">
                       <label class="col-md-2 control-label" th:text="#{tool.cement-use}"></label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" th:placeholder="#{tool.percent}" id="cushionLayerCement"
                                name="cushionLayerCement">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
                       <label class="col-md-2 control-label" th:text="#{tool.lime-use}"></label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" th:placeholder="#{tool.percent}" id="cushionLayerLime"
                                name="cushionLayerLime">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
                    </div>
                </fieldset>
				
			</div>
	</div>
	<div class="panel king-panel1">
		 <div class="panel-heading king-panel-head1 king-panel-top3">
            <div class="text-center">
                <button class="king-btn king-radius king-danger" type="button" id="baseInfoDefaultValue"><span th:text="#{tool.default-val}"></span></button>
                <button class="king-btn king-radius king-info" type="submit">
                    <i class="fa fa-arrow-right btn-icon"></i> <span th:text="#{tool.inve-anal}"></span>
                </button>
            </div>
	    </div>
    </div>
</form>
</div>