<div id="step-input">
<form class="form-horizontal" role="form" id="form-input">
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3" role="tab"
			id="heading0">
			<div class="king-panel-control">
				<a role="button" data-toggle="collapse" data-parent="#accordion"
					href="#collapse0" aria-expanded="true"
					aria-controls="collapse0" class="fa fa-minus-square-o fa-lg"></a>
			</div>
			<h3 class="panel-title"><b>目标和范围选择</b></h3>
		</div>
		<div id="collapse0" class="panel-collapse collapse in"
			role="tabpanel" aria-labelledby="heading0">
			<div class="panel-body">
				<div class="row">
				    <div class="col-md-5">
					    <fieldset>
					        <legend>阶段范围</legend>
					        <div class="form-group">
			                    <div class="col-md-6">
			                        <div class="checkbox">
								        <label><input type="checkbox" id="materialRange"> 原材料获取</label>
								    </div>
			                    </div>
			                    <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="transConsRange"> 运输与施工</label>
                                    </div>
                                </div>
		                    </div>
					        <div class="form-group">
					           <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="conserveRange"> 养护</label>
                                    </div>
                                </div>
			                    <div class="col-md-6">
			                        <div class="checkbox">
								        <label><input type="checkbox" id="use1Range"> 使用（反射率）</label>
								    </div>
			                    </div>
		                    </div>
					        <div class="form-group">
					           <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="use2Range"> 使用（透水率）</label>
                                    </div>
                                </div>
			                    <div class="col-md-6">
			                        <div class="checkbox">
								        <label><input type="checkbox" id="use3Range"> 使用（滚动阻力）</label>
								    </div>
			                    </div>
			                    
		                    </div>
					        <div class="form-group">
			                    <div class="col-md-6">
			                        <div class="checkbox">
								        <label><input type="checkbox" id="recycleRange"> 回收</label>
								    </div>
			                    </div>
		                    </div>
					    </fieldset>
				    
				    </div>
				    <div class="col-md-5">
					    <fieldset>
					        <legend>评价范围</legend>
					        <div class="form-group">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="energyRange"> 能耗</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="carbonRange"> 温室效应</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="sourRange"> 酸化</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="eutrophicationRange"> 富营养化</label>
                                    </div>
                                </div>
                            </div>
                            <!-- 
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="ozoneRange"> 臭氧空洞</label>
                                    </div>
                                </div>
                            </div>
                             -->
					    </fieldset>
				    
				    </div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3" role="tab"
			id="heading1">
			<div class="king-panel-control">
				<a role="button" data-toggle="collapse" data-parent="#accordion"
					href="#collapse1" aria-expanded="true"
					aria-controls="collapse1" class="fa fa-minus-square-o fa-lg"></a>
			</div>
			<h3 class="panel-title"><b>基本信息</b></h3>
		</div>
		<div id="collapse1" class="panel-collapse collapse in"
			role="tabpanel" aria-labelledby="heading1">
			<div class="panel-body">
				<div class="form-group">
					<label class="col-md-2 control-label"><span
						class="king-required-tip text-danger mr5">*</span>路面类型：</label>
					<div class="col-md-2">
						<select id="roadType" name="roadType" class="form-control" style="width: 100%">
                        </select>
					</div>
					<label class="col-md-2 control-label"><span
						class="king-required-tip text-danger mr5">*</span>路面长度：</label>
					<div class="col-md-2">
					   <div class="input-group">
						<input type="text" class="form-control" placeholder="" id="roadLength"
							name="roadLength">
                       <div class="input-group-addon">km</div>
                       </div>
					</div>
					<label class="col-md-2 control-label"><span
						class="king-required-tip text-danger mr5">*</span>路面宽度：</label>
					<div class="col-md-2">
					   <div class="input-group">
						<input type="text" class="form-control" placeholder="" id="roadWidth"
							name="roadWidth">
				        <div class="input-group-addon">m</div>
                       </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3" role="tab"
			id="heading2">
			<div class="king-panel-control">
				<a role="button" data-toggle="collapse" data-parent="#accordion"
					href="#collapse2" aria-expanded="true"
					aria-controls="collapse2" class="fa fa-minus-square-o fa-lg"></a>
			</div>
			<h3 class="panel-title"><b>结构层信息</b></h3>
		</div>
		<div id="collapse2" class="panel-collapse collapse in"
			role="tabpanel" aria-labelledby="heading2">
			<div class="panel-body">
			    <div id="asphaltSurface">
					<fieldset>
						<legend>上面层</legend>
						<div class="form-group">
							<label class="col-md-2 control-label"><span
								class="king-required-tip text-danger mr5">*</span>上面层厚度：</label>
							<div class="col-md-3">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="请输入上面层厚度" id="asphaltTopLayerThickness"
									name="asphaltTopLayerThickness">
	                        <div class="input-group-addon">m</div>
	                       </div>
							</div>
							<label class="col-md-2 control-label">面层材料：</label>
		                    <div class="col-md-3">
		                        <select id="asphaltTopLayerMaterial" name="asphaltTopLayerMaterial" class="form-control" style="width: 100%">
		                        </select>
		                    </div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">沥青类别：</label>
		                    <div class="col-md-3">
		                        <select id="topLayerAsphaltType" name="topLayerAsphaltType" class="form-control" style="width: 100%">
		                        </select>
		                    </div>
						   <label class="col-md-2 control-label">油石比：</label>
	                        <div class="col-md-3">
	                            <div class="input-group">
	                            <input type="text" class="form-control" placeholder="请输入油石比，百分比" id="asphaltTopLayerWhetstoneRatio"
	                                name="asphaltTopLayerWhetstoneRatio">
	                            <div class="input-group-addon">%</div>
	                            </div>
	                        </div>
						</div>
					</fieldset>
					<fieldset>
						<legend>中面层</legend>
						<div class="form-group">
							<label class="col-md-2 control-label"><span
								class="king-required-tip text-danger mr5">*</span>中面层厚度：</label>
							<div class="col-md-3">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="请输入中面层厚度" id="asphaltMiddleLayerThickness"
									name="asphaltMiddleLayerThickness">
	                        <div class="input-group-addon">m</div>
	                        </div>
							</div>
							<label class="col-md-2 control-label">面层材料：</label>
		                    <div class="col-md-3">
		                        <select id="asphaltMiddleLayerMaterial" name="asphaltMiddleLayerMaterial" class="form-control" style="width: 100%">
		                        </select>
		                    </div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">沥青类别：</label>
		                    <div class="col-md-3">
		                        <select id="middleLayerAsphaltType" name="middleLayerAsphaltType" class="form-control" style="width: 100%">
		                        </select>
		                    </div>
						   <label class="col-md-2 control-label">油石比：</label>
	                        <div class="col-md-3">
	                            <div class="input-group">
	                            <input type="text" class="form-control" placeholder="请输入油石比，百分比" id="asphaltMiddleLayerWhetstoneRatio"
	                                name="asphaltMiddleLayerWhetstoneRatio">
	                            <div class="input-group-addon">%</div>
	                            </div>
	                        </div>
						</div>
					</fieldset>
					<fieldset>
						<legend>下面层</legend>
						<div class="form-group">
							<label class="col-md-2 control-label"><span
								class="king-required-tip text-danger mr5">*</span>下面层厚度：</label>
							<div class="col-md-3">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="请输入下面层厚度" id="asphaltBelowLayerThickness"
									name="asphaltBelowLayerThickness">
	                        <div class="input-group-addon">m</div>
	                       </div>
							</div>
							<label class="col-md-2 control-label">面层材料：</label>
		                    <div class="col-md-3">
		                        <select id="asphaltBelowLayerMaterial" name="asphaltBelowLayerMaterial" class="form-control" style="width: 100%">
		                        </select>
		                    </div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">沥青类别：</label>
		                    <div class="col-md-3">
		                        <select id="belowLayerAsphaltType" name="belowLayerAsphaltType" class="form-control" style="width: 100%">
		                        </select>
		                    </div>
						   <label class="col-md-2 control-label">油石比：</label>
	                        <div class="col-md-3">
	                            <div class="input-group">
	                            <input type="text" class="form-control" placeholder="请输入油石比，百分比" id="asphaltBelowLayerWhetstoneRatio"
	                                name="asphaltBelowLayerWhetstoneRatio">
	                            <div class="input-group-addon">%</div>
	                            </div>
	                        </div>
						</div>
					</fieldset>
				</div>
				<div id="concreteSurface" style="display: none;">
					<fieldset>
	                    <legend>上面层</legend>
	                    <div class="form-group">
	                        <label class="col-md-2 control-label"><span
	                            class="king-required-tip text-danger mr5">*</span>上面层厚度：</label>
	                        <div class="col-md-2">
	                        <div class="input-group">
	                            <input type="text" class="form-control" placeholder="请输入上面层厚度" id="concreteTopLayerThickness"
	                                name="concreteTopLayerThickness">
	                        <div class="input-group-addon">m</div>
	                       </div>
	                        </div>
	                        <label class="col-md-2 control-label">面层材料：</label>
	                        <div class="col-md-2">
	                            <select id="concreteTopLayerMaterial" name="concreteTopLayerMaterial" class="form-control" style="width: 100%">
	                            </select>
	                        </div>
	                        <div id="topReinforcementRateDiv" style="display: none;">
		                        <label class="col-md-2 control-label">配筋率：</label>
	                            <div class="col-md-2">
	                                <input type="text" class="form-control" placeholder="请输入配筋率" id="topReinforcementRate"
	                                    name="topReinforcementRate">
	                            </div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                       <label class="col-md-2 control-label">配合比x：</label>
	                        <div class="col-md-2">
	                            <input type="text" class="form-control" placeholder="比值" id="topMixProportionX"
	                                name="topMixProportionX">
	                        </div>
	                       <label class="col-md-2 control-label">配合比y：</label>
	                        <div class="col-md-2">
	                            <input type="text" class="form-control" placeholder="比值" id="topMixProportionY"
	                                name="topMixProportionY">
	                        </div>
	                       <label class="col-md-2 control-label">配合比z：</label>
	                        <div class="col-md-2">
	                            <input type="text" class="form-control" placeholder="比值" id="topMixProportionZ"
	                                name="topMixProportionZ">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                       <label class="col-md-2 control-label">外加剂种类：</label>
	                       <div class="col-md-3">
                                <select id="topCementAdmixture" name="topCementAdmixture" class="form-control" style="width: 100%">
                                </select>
                            </div>
	                    </div>
	                    <div class="row">
	                       <div id="snjDiv" class="col-md-4" style="display: none;">
	                           <div class="form-group">
	                               <label class="col-md-6 control-label">速凝剂掺量：</label>
		                            <div class="col-md-6">
		                                <input type="text" class="form-control" placeholder="请输入" id="snj"
		                                    name="snj">
		                            </div>
	                           </div>
	                       </div>
	                       <div id="jqjDiv" class="col-md-4" style="display: none;">
	                           <div class="form-group">
	                               <label class="col-md-6 control-label">加气剂掺量：</label>
		                            <div class="col-md-6">
		                                <input type="text" class="form-control" placeholder="请输入" id="jqj"
		                                    name="jqj">
		                            </div>
	                           </div>
	                       </div>
	                       <div id="zsjDiv" class="col-md-4" style="display: none;">
	                           <div class="form-group">
	                               <label class="col-md-6 control-label">增塑剂掺量：</label>
		                            <div class="col-md-6">
		                                <input type="text" class="form-control" placeholder="请输入" id="zsj"
		                                    name="zsj">
		                            </div>
	                           </div>
	                       </div>
	                       <div id="qlzsjDiv" class="col-md-4" style="display: none;">
	                           <div class="form-group">
	                               <label class="col-md-6 control-label">强力增塑剂掺量：</label>
		                            <div class="col-md-6">
		                                <input type="text" class="form-control" placeholder="请输入" id="qlzsj"
		                                    name="qlzsj">
		                            </div>
	                           </div>
	                       </div>
	                       <div id="hnjDiv" class="col-md-4" style="display: none;">
	                           <div class="form-group">
	                               <label class="col-md-6 control-label">缓凝剂掺量：</label>
		                            <div class="col-md-6">
		                                <input type="text" class="form-control" placeholder="请输入" id="hnj"
		                                    name="hnj">
		                            </div>
	                           </div>
	                       </div>
	                       <div id="jsjDiv" class="col-md-4" style="display: none;">
	                           <div class="form-group">
	                               <label class="col-md-6 control-label">减水剂掺量：</label>
		                            <div class="col-md-6">
		                                <input type="text" class="form-control" placeholder="请输入" id="jsj"
		                                    name="jsj">
		                            </div>
	                           </div>
	                       </div>
	                    </div>
	                </fieldset>
	                <fieldset>
	                    <legend>下面层</legend>
	                    <div class="form-group">
	                        <label class="col-md-2 control-label"><span
	                            class="king-required-tip text-danger mr5">*</span>下面层厚度：</label>
	                        <div class="col-md-2">
	                        <div class="input-group">
	                            <input type="text" class="form-control" placeholder="请输入下面层厚度" id="concreteBelowLayerThickness"
	                                name="concreteBelowLayerThickness">
	                        <div class="input-group-addon">m</div>
	                       </div>
	                        </div>
	                        <label class="col-md-2 control-label">面层材料：</label>
	                        <div class="col-md-2">
	                            <select id="concreteBelowLayerMaterial" name="concreteBelowLayerMaterial" class="form-control" style="width: 100%">
	                            </select>
	                        </div>
	                        <div id="belowReinforcementRateDiv" style="display: none;">
                                <label class="col-md-2 control-label">配筋率：</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="请输入配筋率" id="belowReinforcementRate"
                                        name="belowReinforcementRate">
                                </div>
                            </div>
	                    </div>
	                    <div class="form-group">
                           <label class="col-md-2 control-label">配合比x：</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="比值" id="belowMixProportionX"
                                    name="belowMixProportionX">
                            </div>
                           <label class="col-md-2 control-label">配合比y：</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="比值" id="belowMixProportionY"
                                    name="belowMixProportionY">
                            </div>
                           <label class="col-md-2 control-label">配合比z：</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="比值" id="belowMixProportionZ"
                                    name="belowMixProportionZ">
                            </div>
                        </div>
                        <div class="form-group">
                           <label class="col-md-2 control-label">外加剂种类：</label>
                           <div class="col-md-3">
                                <select id="belowCementAdmixture" name="belowCementAdmixture" class="form-control" style="width: 100%">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                           <div id="snjDiv2" class="col-md-4" style="display: none;">
                               <div class="form-group">
                                   <label class="col-md-6 control-label">速凝剂掺量：</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="请输入" id="snj2"
                                            name="snj2">
                                    </div>
                               </div>
                           </div>
                           <div id="jqjDiv2" class="col-md-4" style="display: none;">
                               <div class="form-group">
                                   <label class="col-md-6 control-label">加气剂掺量：</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="请输入" id="jqj2"
                                            name="jqj2">
                                    </div>
                               </div>
                           </div>
                           <div id="zsjDiv2" class="col-md-4" style="display: none;">
                               <div class="form-group">
                                   <label class="col-md-6 control-label">增塑剂掺量：</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="请输入" id="zsj2"
                                            name="zsj2">
                                    </div>
                               </div>
                           </div>
                           <div id="qlzsjDiv2" class="col-md-4" style="display: none;">
                               <div class="form-group">
                                   <label class="col-md-6 control-label">强力增塑剂掺量：</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="请输入" id="qlzsj2"
                                            name="qlzsj2">
                                    </div>
                               </div>
                           </div>
                           <div id="hnjDiv2" class="col-md-4" style="display: none;">
                               <div class="form-group">
                                   <label class="col-md-6 control-label">缓凝剂掺量：</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="请输入" id="hnj2"
                                            name="hnj2">
                                    </div>
                               </div>
                           </div>
                           <div id="jsjDiv2" class="col-md-4" style="display: none;">
                               <div class="form-group">
                                   <label class="col-md-6 control-label">减水剂掺量：</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="请输入" id="jsj2"
                                            name="jsj2">
                                    </div>
                               </div>
                           </div>
                        </div>
	                </fieldset>
				</div>
				<div id="shopBrickSurface" style="display: none;">
					<fieldset>
	                    <legend>铺砖尺寸</legend>
	                    <div class="form-group">
	                        <label class="col-md-2 control-label"><span
	                            class="king-required-tip text-danger mr5">*</span>路面砖长：</label>
	                        <div class="col-md-2">
	                        <div class="input-group">
	                            <input type="text" class="form-control" placeholder="请输入路面砖长" id="brickLength"
	                                name="brickLength">
	                        <div class="input-group-addon">m</div>
	                       </div>
	                        </div>
	                        <label class="col-md-2 control-label"><span
	                            class="king-required-tip text-danger mr5">*</span>路面砖宽：</label>
	                        <div class="col-md-2">
	                        <div class="input-group">
	                            <input type="text" class="form-control" placeholder="请输入路面砖宽" id="brickWidth"
	                                name="brickWidth">
	                        <div class="input-group-addon">m</div>
	                       </div>
	                        </div>
	                        <label class="col-md-2 control-label"><span
	                            class="king-required-tip text-danger mr5">*</span>路面砖高：</label>
	                        <div class="col-md-2">
	                        <div class="input-group">
	                            <input type="text" class="form-control" placeholder="请输入路面砖高" id="brickHeight"
	                                name="brickHeight">
	                        <div class="input-group-addon">m</div>
	                       </div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                       <label class="col-md-2 control-label"><span
                                class="king-required-tip text-danger mr5">*</span>铺砖种类：</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="" id="brickType"
                                    name="brickType">
                            </div>
	                    </div>
	                </fieldset>
				</div>
				<fieldset>
					<legend>基层</legend>
					<div class="form-group">
						<label class="col-md-2 control-label"><span
							class="king-required-tip text-danger mr5">*</span>基层厚度：</label>
						<div class="col-md-3">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="请输入基层厚度" id="baseLayerThickness"
								name="baseLayerThickness">
                        <div class="input-group-addon">m</div>
                       </div>
						</div>
						<label class="col-md-2 control-label">基层材料：</label>
	                    <div class="col-md-3">
	                        <select id="baseLayerMaterial" name="baseLayerMaterial" class="form-control" style="width: 100%">
	                        </select>
	                    </div>
					</div>
					<div class="form-group" id="baseLayerMaterial-asphalt">
						<label class="col-md-2 control-label">沥青类别：</label>
	                    <div class="col-md-3">
	                        <select id="baseLayerAsphaltType" name="baseLayerAsphaltType" class="form-control" style="width: 100%">
	                        </select>
	                    </div>
					   <label class="col-md-2 control-label">油石比：</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="请输入油石比，百分比" id="baseLayerWhetstoneRatio"
                                name="baseLayerWhetstoneRatio">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
					</div>
					<div class="form-group" id="baseLayerMaterial-CementLime" style="display: none;">
					   <label class="col-md-2 control-label">水泥用量：</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="请输入水泥用量，百分比" id="baseLayerCement"
                                name="baseLayerCement">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
					   <label class="col-md-2 control-label">石灰用量：</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="请输入石灰用量，百分比" id="baseLayerLime"
                                name="baseLayerLime">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
					</div>
				</fieldset>
				<fieldset>
					<legend>底基层</legend>
					<div class="form-group">
						<label class="col-md-2 control-label"><span
							class="king-required-tip text-danger mr5">*</span>底基层厚度：</label>
						<div class="col-md-3">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="请输入底基层厚度" id="bottomBaseLayerThickness"
								name="bottomBaseLayerThickness">
                        <div class="input-group-addon">m</div>
                       </div>
						</div>
						<label class="col-md-2 control-label">底基层材料：</label>
	                    <div class="col-md-3">
	                        <select id="bottomBaseLayerMaterial" name="bottomBaseLayerMaterial" class="form-control" style="width: 100%">
	                        </select>
	                    </div>
					</div>
					<div class="form-group" id="bottomBaseLayerMaterial-asphalt">
						<label class="col-md-2 control-label">沥青类别：</label>
	                    <div class="col-md-3">
	                        <select id="bottomBaseLayerAsphaltType" name="bottomBaseLayerAsphaltType" class="form-control" style="width: 100%">
	                        </select>
	                    </div>
					   <label class="col-md-2 control-label">油石比：</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="请输入油石比，百分比" id="bottomBaseLayerWhetstoneRatio"
                                name="bottomBaseLayerWhetstoneRatio">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
					</div>
					<div class="form-group" id="bottomBaseLayerMaterial-CementLime" style="display: none;">
					   <label class="col-md-2 control-label">水泥用量：</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="请输入水泥用量，百分比" id="bottomBaseLayerCement"
                                name="bottomBaseLayerCement">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
					   <label class="col-md-2 control-label">石灰用量：</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="请输入石灰用量，百分比" id="bottomBaseLayerLime"
                                name="bottomBaseLayerLime">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
					</div>
				</fieldset>
				<fieldset>
                    <legend>垫层</legend>
                    <div class="form-group">
                        <label class="col-md-2 control-label"><span
                            class="king-required-tip text-danger mr5">*</span>垫层厚度：</label>
                        <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="请输入垫层厚度" id="cushionLayerThickness"
                                name="cushionLayerThickness">
                        <div class="input-group-addon">m</div>
                       </div>
                        </div>
                        <label class="col-md-2 control-label">垫层材料：</label>
                        <div class="col-md-3">
                            <select id="cushionLayerMaterial" name="cushionLayerMaterial" class="form-control" style="width: 100%">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="cushionLayerMaterial-asphalt">
                        <label class="col-md-2 control-label">沥青类别：</label>
                        <div class="col-md-3">
                            <select id="cushionLayerAsphaltType" name="cushionLayerAsphaltType" class="form-control" style="width: 100%">
                            </select>
                        </div>
                       <label class="col-md-2 control-label">油石比：</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="请输入油石比，百分比" id="cushionLayerWhetstoneRatio"
                                name="cushionLayerWhetstoneRatio">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="cushionLayerMaterial-CementLime" style="display: none;">
                       <label class="col-md-2 control-label">水泥用量：</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="请输入水泥用量，百分比" id="cushionLayerCement"
                                name="cushionLayerCement">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
                       <label class="col-md-2 control-label">石灰用量：</label>
                        <div class="col-md-3">
                            <div class="input-group">
                            <input type="text" class="form-control" placeholder="请输入石灰用量，百分比" id="cushionLayerLime"
                                name="cushionLayerLime">
                            <div class="input-group-addon">%</div>
                            </div>
                        </div>
                    </div>
                </fieldset>
				
			</div>
		</div>
	</div>
	<div class="panel king-panel1">
		 <div class="panel-heading king-panel-head1 king-panel-top3">
            <div class="text-center">
                <button class="king-btn king-radius king-success" type="submit">
                    <i class="fa fa-arrow-right btn-icon"></i>下一步
                </button>
            </div>
	    </div>
    </div>
</form>
</div>