<div id="step-input">
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3" role="tab"
			id="heading1">
			<div class="king-panel-control">
				<a role="button" data-toggle="collapse" data-parent="#accordion"
					href="#collapse1" aria-expanded="true"
					aria-controls="collapse1" class="fa fa-minus-square-o fa-lg"
					title="折叠"></a>
			</div>
			<h3 class="panel-title">输入参数</h3>
		</div>
		<div id="collapse1" class="panel-collapse collapse in"
			role="tabpanel" aria-labelledby="heading1">
			<div class="panel-body">

				<form class="form-horizontal" role="form" id="form-input">
					<fieldset>
						<legend>
							<small>基本信息</small>
						</legend>
						<div class="form-group">
							<label class="col-md-2 control-label"><span
								class="king-required-tip text-danger mr5">*</span>路面类型：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label"><span
								class="king-required-tip text-danger mr5">*</span>路面长度：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label"><span
								class="king-required-tip text-danger mr5">*</span>路面宽度：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
						</div>
					</fieldset>

					<fieldset>
						<legend>
							<small>结构层信息</small>
						</legend>
						<div class="form-group">
							<label class="col-md-2 control-label"><span
								class="king-required-tip text-danger mr5">*</span>面层厚度：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">油石比或水灰比：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label"><span
								class="king-required-tip text-danger mr5">*</span>基层厚度：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">基层材料：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label"><span
								class="king-required-tip text-danger mr5">*</span>底基层厚度：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">底基层材料：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
						</div>
					</fieldset>

					<fieldset>
						<legend>
							<small>当地气候条件</small>
						</legend>
						<div class="form-group">
							<label class="col-md-2 control-label"><span
								class="king-required-tip text-danger mr5">*</span>所属地区：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">年降雨量：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">植物腾发量：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
						</div>
					</fieldset>

					<fieldset>
						<legend>
							<small>目标和范围 - 阶段范围</small>
						</legend>
						<div class="form-group">
							<label class="col-md-2 control-label">原材料生产：</label>
							<div class="col-md-2 mt5">
								<label class="mr5"><input type="radio" name="sc"
									id="sc-true" value="true" checked> Yes</label> <label
									class="mr5"><input type="radio" name="sc" id="sc-false"
									value="false"> No</label>
							</div>
							<label class="col-md-2 control-label">运输：</label>
							<div class="col-md-2 mt5">
								<label class="mr5"><input type="radio" name="ys" id=""
									value="true" checked> Yes</label> <label class="mr5"><input
									type="radio" name="ys" id="" value="false"> No</label>
							</div>
							<label class="col-md-2 control-label">施工：</label>
							<div class="col-md-2 mt5">
								<label class="mr5"><input type="radio" name="sg" id=""
									value="true" checked> Yes</label> <label class="mr5"><input
									type="radio" name="sg" id="" value="false"> No</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">使用（反射率）：</label>
							<div class="col-md-2 mt5">
								<label class="mr5"><input type="radio" name="fsl" id=""
									value="true" checked> Yes</label> <label class="mr5"><input
									type="radio" name="fsl" id="" value="false"> No</label>
							</div>
							<label class="col-md-2 control-label">使用（透水率）：</label>
							<div class="col-md-2 mt5">
								<label class="mr5"><input type="radio" name="tsl" id=""
									value="true" checked> Yes</label> <label class="mr5"><input
									type="radio" name="tsl" id="" value="false"> No</label>
							</div>
							<label class="col-md-2 control-label">使用（滚动阻力）：</label>
							<div class="col-md-2 mt5">
								<label class="mr5"><input type="radio" name="gdzl" id=""
									value="true" checked> Yes</label> <label class="mr5"><input
									type="radio" name="gdzl" id="" value="false"> No</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">回收：</label>
							<div class="col-md-2 mt5">
								<label class="mr5"><input type="radio" name="hs" id=""
									value="true" checked> Yes</label> <label class="mr5"><input
									type="radio" name="hs" id="" value="false"> No</label>
							</div>
						</div>
					</fieldset>

					<fieldset>
						<legend>
							<small>目标和范围 - 评价范围</small>
						</legend>
						<div class="form-group">
							<label class="col-md-2 control-label">能耗：</label>
							<div class="col-md-2 mt5">
								<label class="mr5"><input type="radio" name="nh" id=""
									value="true" checked> Yes</label> <label class="mr5"><input
									type="radio" name="nh" id="" value="false"> No</label>
							</div>
							<label class="col-md-2 control-label">碳排放：</label>
							<div class="col-md-2 mt5">
								<label class="mr5"><input type="radio" name="tpf" id=""
									value="true" checked> Yes</label> <label class="mr5"><input
									type="radio" name="tpf" id="" value="false"> No</label>
							</div>
							<label class="col-md-2 control-label">酸化：</label>
							<div class="col-md-2 mt5">
								<label class="mr5"><input type="radio" name="sh" id=""
									value="true" checked> Yes</label> <label class="mr5"><input
									type="radio" name="sh" id="" value="false"> No</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">富营养化：</label>
							<div class="col-md-2 mt5">
								<label class="mr5"><input type="radio" name="fyyh" id=""
									value="true" checked> Yes</label> <label class="mr5"><input
									type="radio" name="fyyh" id="" value="false"> No</label>
							</div>
							<label class="col-md-2 control-label">臭氧空洞：</label>
							<div class="col-md-2 mt5">
								<label class="mr5"><input type="radio" name="cykd" id=""
									value="true" checked> Yes</label> <label class="mr5"><input
									type="radio" name="cykd" id="" value="false"> No</label>
							</div>
						</div>
					</fieldset>

					<fieldset>
						<legend>
							<small>施工条件</small>
						</legend>
						<div class="form-group">
							<label class="col-md-2 control-label">拌合楼型号：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">日产量：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">能源消耗：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">摊铺车型号：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">日工作量：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">能源消耗：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">压路机型号1：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">日工作量：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">能源消耗：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">压路机型号2：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">日工作量：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">能源消耗：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">压路机型号3：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">日工作量：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">能源消耗：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
						</div>
					</fieldset>

					<fieldset>
						<legend>
							<small>运输条件 - 大宗原材料</small>
						</legend>
						<div class="form-group">
							<label class="col-md-2 control-label">运距（集料）：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">运距（沥青）：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">运距（水泥）：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">车辆型号（集料）：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">车辆型号（沥青）：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">车辆型号（水泥）：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">油耗效率（集料）：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">油耗效率（沥青）：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">油耗效率（水泥）：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
						</div>
					</fieldset>

					<fieldset>
						<legend>
							<small>运输条件 - 混合料</small>
						</legend>
						<div class="form-group">
							<label class="col-md-2 control-label">运距：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">车辆型号：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">油耗效率：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
						</div>
					</fieldset>

					<fieldset>
						<legend>
							<small>使用状况</small>
						</legend>
						<div class="form-group">
							<label class="col-md-2 control-label">AADT：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">重型车比例：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">交通增长率：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">预估初始路面反射率：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">预估初始透水率：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
							<label class="col-md-2 control-label">预估初始IRI：</label>
							<div class="col-md-2">
								<input type="text" class="form-control" placeholder="" id=""
									name="">
							</div>
						</div>
					</fieldset>

					<hr class="mt5 mb15">
					<div class="text-center">
						<button class="king-btn king-radius king-info mr10" title="保存"
							type="submit">
							<i class="fa fa-arrow-right btn-icon"></i>下一步
						</button>
						<!-- 
						<a class="king-btn king-radius king-default" title="返回"> <i
							class="fa fa-mail-reply-all btn-icon"></i>返回
						</a>
						 -->
					</div>
				</form>

			</div>
		</div>
	</div>
</div>