<div id="step-inventory">
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3" role="tab"
			id="heading2">
			<div class="king-panel-control">
				<a role="button" data-toggle="collapse" data-parent="#accordion"
					href="#collapse2" aria-expanded="true" aria-controls="collapse2"
					class="fa fa-minus-square-o fa-lg" title="折叠"></a>
			</div>
			<h3 class="panel-title">材料</h3>
		</div>
		<div id="collapse2" class="panel-collapse collapse in" role="tabpanel"
			aria-labelledby="heading2">
			<div class="panel-body">
				<!-- <div class="table-responsive">
					<table
						class="table table-bordered table-hover table-striped table-condensed">
						<thead>
							<tr>
								<th></th>
								<th class="text-center">面层</th>
								<th class="text-center">基层</th>
								<th class="text-center">底基层</th>
								<th class="text-center">总计</th>
							</tr>
						</thead>
						<tbody class="text-center">
							<tr>
								<td>体积</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>碎石</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>普通沥青</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>改性沥青</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>水泥</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>钢筋</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>改性剂</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td><b>总计</b></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div> -->
				<div class="table-responsive">
					<table
						class="table table-bordered table-hover table-striped table-condensed">
						<thead>
							<tr>
								<th></th>
								<th class="text-center">碎石集料</th>
								<th class="text-center">水泥</th>
								<th class="text-center">普通沥青</th>
								<th class="text-center">改性沥青</th>
								<th class="text-center">高粘度沥青</th>
								<th class="text-center">钢筋</th>
								<th class="text-center">速凝剂</th>
								<th class="text-center">加气剂</th>
								<th class="text-center">增塑剂</th>
								<th class="text-center">强力增塑剂</th>
								<th class="text-center">缓凝剂</th>
								<th class="text-center">减水剂</th>
								<th class="text-center">混凝土砖</th>
							</tr>
						</thead>
						<tbody class="text-center">
							<tr>
								<td>用量</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>成本</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>能耗</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>CO<sub>2</sub> 排放</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>CH<sub>4</sub> 排放</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>N<sub>2</sub>O 排放</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>CO 排放</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>SO<sub>2</sub> 排放</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>NO<sub>x</sub> 排放</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Pb 排放</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Zn 排放</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<h3 class="panel-title">施工</h3>
		</div>
		<div class='panel-body'>
			<p>暂无数据</p>
		</div>
	</div>
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<h3 class="panel-title">使用</h3>
		</div>
		<div class='panel-body'>
			<p>暂无数据</p>
		</div>
	</div>
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<h3 class="panel-title">养护</h3>
		</div>
		<div class='panel-body'>
			<p>暂无数据</p>
		</div>
	</div>
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<h3 class="panel-title">回收</h3>
		</div>
		<div class='panel-body'>
			<p>暂无数据</p>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-md-6">
			<div class="panel king-panel1">
				<div class="panel-heading king-panel-head1 king-panel-top3"
					role="tab" id="heading4">
					<div class="king-panel-control">
						<a role="button" data-toggle="collapse" data-parent="#accordion"
							href="#collapse4" aria-expanded="true" aria-controls="collapse4"
							class="fa fa-minus-square-o fa-lg" title="折叠"></a>
					</div>
					<h3 class="panel-title">运输</h3>
				</div>
				<div id="collapse4" class="panel-collapse collapse in"
					role="tabpanel" aria-labelledby="heading4">
					<div class="panel-body">
						<div class="table-responsive">
							<table
								class="table table-bordered table-hover table-striped table-condensed">
								<thead>
									<tr>
										<th class="text-center">运输材料</th>
										<th class="text-center">运输量</th>
										<th class="text-center">车辆型号</th>
										<th class="text-center">运输距离</th>
										<th class="text-center">油耗</th>
										<th class="text-center">种类</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr>
										<td>&nbsp;</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-responsive">
							<table
								class="table table-bordered table-hover table-striped table-condensed">
								<thead>
									<tr>
										<th colspan="2"></th>
										<th class="text-center">汽油</th>
										<th class="text-center">柴油</th>
										<th class="text-center">重油</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr>
										<td colspan="2">用量</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="2">成本</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="2">能耗</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td rowspan="5">排放</td>
										<td>CO2-e</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>TP</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>TN</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Pb</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Zn</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel king-panel1">
				<div class="panel-heading king-panel-head1 king-panel-top3"
					role="tab" id="heading3">
					<div class="king-panel-control">
						<a role="button" data-toggle="collapse" data-parent="#accordion"
							href="#collapse3" aria-expanded="true" aria-controls="collapse3"
							class="fa fa-minus-square-o fa-lg" title="折叠"></a>
					</div>
					<h3 class="panel-title">拌和</h3>
				</div>
				<div id="collapse3" class="panel-collapse collapse in"
					role="tabpanel" aria-labelledby="heading3">
					<div class="panel-body">
						<div class="table-responsive">
							<table
								class="table table-bordered table-hover table-striped table-condensed">
								<thead>
									<tr>
										<th class="text-center">拌和总质量</th>
										<th class="text-center">拌和站效率</th>
										<th class="text-center">拌和时间</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr>
										<td>&nbsp;</td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-responsive">
							<table
								class="table table-bordered table-hover table-striped table-condensed">
								<thead>
									<tr>
										<th colspan="2"></th>
										<th class="text-center">集料</th>
										<th class="text-center">水泥</th>
										<th class="text-center">沥青</th>
										<th class="text-center">钢</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr>
										<td colspan="2">用量</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="2">成本</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="2">能耗</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td rowspan="5">排放</td>
										<td>CO2-e</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>TP</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>TN</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Pb</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Zn</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="panel king-panel1">
				<div class="panel-heading king-panel-head1 king-panel-top3"
					role="tab" id="heading5">
					<div class="king-panel-control">
						<a role="button" data-toggle="collapse" data-parent="#accordion"
							href="#collapse5" aria-expanded="true" aria-controls="collapse5"
							class="fa fa-minus-square-o fa-lg" title="折叠"></a>
					</div>
					<h3 class="panel-title">运输2</h3>
				</div>
				<div id="collapse5" class="panel-collapse collapse in"
					role="tabpanel" aria-labelledby="heading5">
					<div class="panel-body">
						<div class="table-responsive">
							<table
								class="table table-bordered table-hover table-striped table-condensed">
								<thead>
									<tr>
										<th class="text-center">运输材料</th>
										<th class="text-center">运输量</th>
										<th class="text-center">车辆型号</th>
										<th class="text-center">运输距离</th>
										<th class="text-center">油耗</th>
										<th class="text-center">种类</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr>
										<td>&nbsp;</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-responsive">
							<table
								class="table table-bordered table-hover table-striped table-condensed">
								<thead>
									<tr>
										<th colspan="2"></th>
										<th class="text-center">汽油</th>
										<th class="text-center">柴油</th>
										<th class="text-center">重油</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr>
										<td colspan="2">用量</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="2">成本</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="2">能耗</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td rowspan="5">排放</td>
										<td>CO2-e</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>TP</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>TN</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Pb</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Zn</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="panel king-panel1">
				<div class="panel-heading king-panel-head1 king-panel-top3"
					role="tab" id="heading6">
					<div class="king-panel-control">
						<a role="button" data-toggle="collapse" data-parent="#accordion"
							href="#collapse6" aria-expanded="true" aria-controls="collapse6"
							class="fa fa-minus-square-o fa-lg" title="折叠"></a>
					</div>
					<h3 class="panel-title">施工</h3>
				</div>
				<div id="collapse6" class="panel-collapse collapse in"
					role="tabpanel" aria-labelledby="heading6">
					<div class="panel-body">
						<div class="table-responsive">
							<table
								class="table table-bordered table-hover table-striped table-condensed">
								<thead>
									<tr>
										<th class="text-center">车辆型号</th>
										<th class="text-center">台班数</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr>
										<td>&nbsp;</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>