<div id="step-inventory">
	<div class="panel king-panel1" id="materialInventory">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<h3 class="panel-title"><b>原材料获取</b></h3>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table id="materialInventoryTable"
					class="table table-bordered table-hover table-striped table-condensed">
					<thead>
						<tr>
							<th rowspan="2" class="text-center">材料名称</th>
							<th rowspan="2" class="text-center">用量</th>
							<th rowspan="2" class="text-center">成本</th>
							<th rowspan="2" class="text-center">能耗(MJ)</th>
							<th colspan="8" class="text-center">排放(kg)</th>
						</tr>
						<tr>
							<th class="text-center">CO<sub>2</sub></th>
							<th class="text-center">CH<sub>4</sub></th>
							<th class="text-center">N<sub>2</sub>O
							</th>
							<th class="text-center">CO</th>
							<th class="text-center">SO<sub>2</sub></th>
							<th class="text-center">NO<sub>x</sub></th>
							<th class="text-center">Pb</th>
							<th class="text-center">Zn</th>
					</thead>
					<tbody class="text-center">
					</tbody>
				</table>
				<script id="tpl-materialInventoryTable" type="text/template">
                       <tr>
                           <td>#materialName#</td>
                           <td>#amount#</td>
                           <td>#cost#</td>
                           <td>#energyConsume#</td>
                           <td>#emissionCo2#</td>
                           <td>#emissionCh4#</td>
                           <td>#emissionN2o#</td>
                           <td>#emissionCo#</td>
                           <td>#emissionSo2#</td>
                           <td>#emissionNox#</td>
                           <td>#emissionPb#</td>
                           <td>#emissionZn#</td>
                       </tr>
                    </script>
			</div>
			<form id="inventoryMaterialForm" class="form-horizontal" role="form">
				<fieldset>
					<legend>请选择具体材料：</legend>
					<div class="row">
						<div class="col-md-6" id="gravelSelect" style="display: none;">
							<div class="form-group">
								<label class="col-md-3 control-label">碎石集料：</label>
								<div class="col-md-9">
									<select id="gravel" name="gravel" class="form-control"
										style="width: 100%">
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6" id="ordinaryAsphaltSelect"
							style="display: none;">
							<div class="form-group">
								<label class="col-md-3 control-label">普通沥青：</label>
								<div class="col-md-9">
									<select id="ordinaryAsphalt" name="ordinaryAsphalt"
										class="form-control" style="width: 100%">
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6" id="modifiedAsphaltSelect"
							style="display: none;">
							<div class="form-group">
								<label class="col-md-3 control-label">改性沥青：</label>
								<div class="col-md-9">
									<select id="modifiedAsphalt" name="modifiedAsphalt"
										class="form-control" style="width: 100%">
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6" id="highViscosityAsphaltSelect"
							style="display: none;">
							<div class="form-group">
								<label class="col-md-3 control-label">高粘度沥青：</label>
								<div class="col-md-9">
									<select id="highViscosityAsphalt" name="highViscosityAsphalt"
										class="form-control" style="width: 100%">
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6" id="cementSelect" style="display: none;">
							<div class="form-group">
								<label class="col-md-3 control-label">水泥：</label>
								<div class="col-md-9">
									<select id="cement" name="cement" class="form-control"
										style="width: 100%">
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6" id="limeSelect" style="display: none;">
							<div class="form-group">
								<label class="col-md-3 control-label">石灰：</label>
								<div class="col-md-9">
									<select id="lime" name="lime" class="form-control"
										style="width: 100%">
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6" id="rebarSelect" style="display: none;">
							<div class="form-group">
								<label class="col-md-3 control-label">钢筋：</label>
								<div class="col-md-9">
									<select id="rebar" name="rebar" class="form-control"
										style="width: 100%">
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6" id="snjSelect" style="display: none;">
							<div class="form-group">
								<label class="col-md-3 control-label">速凝剂：</label>
								<div class="col-md-9">
									<select id="snjType" name="snjType" class="form-control"
										style="width: 100%">
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6" id="jqjSelect" style="display: none;">
							<div class="form-group">
								<label class="col-md-3 control-label">加气剂：</label>
								<div class="col-md-9">
									<select id="jqjType" name="jqjType" class="form-control"
										style="width: 100%">
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6" id="zsjSelect" style="display: none;">
							<div class="form-group">
								<label class="col-md-3 control-label">增塑剂：</label>
								<div class="col-md-9">
									<select id="zsjType" name="zsjType" class="form-control"
										style="width: 100%">
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6" id="qlzsjSelect" style="display: none;">
							<div class="form-group">
								<label class="col-md-3 control-label">强力增塑剂：</label>
								<div class="col-md-9">
									<select id="qlzsjType" name="qlzsjType" class="form-control"
										style="width: 100%">
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6" id="hnjSelect" style="display: none;">
							<div class="form-group">
								<label class="col-md-3 control-label">缓凝剂：</label>
								<div class="col-md-9">
									<select id="hnjType" name="hnjType" class="form-control"
										style="width: 100%">
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6" id="jsjSelect" style="display: none;">
							<div class="form-group">
								<label class="col-md-3 control-label">减水剂：</label>
								<div class="col-md-9">
									<select id="jsjType" name="jsjType" class="form-control"
										style="width: 100%">
									</select>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
				<div class="text-center">
					<button class="king-btn king-radius king-success" type="submit">计算原材料获取清单</button>
				</div>
			</form>
		</div>
	</div>

	<div class="panel king-panel1" id="transportInventory">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<h3 class="panel-title"><b>运输和施工</b></h3>
		</div>
		<div class='panel-body'>
		  <div class="table-responsive">
                <table id="transportInventoryTable"
                    class="table table-bordered table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th rowspan="2" class="text-center">材料名称</th>
                            <th rowspan="2" class="text-center">运输量/t</th>
                            <th rowspan="2" class="text-center">车辆型号</th>
                            <th rowspan="2" class="text-center">运输距离/km</th>
                            <th rowspan="2" class="text-center">成本</th>
                            <th rowspan="2" class="text-center">能耗(MJ)</th>
                            <th colspan="8" class="text-center">排放(kg)</th>
                        </tr>
                        <tr>
                            <th class="text-center">CO<sub>2</sub></th>
                            <th class="text-center">CH<sub>4</sub></th>
                            <th class="text-center">N<sub>2</sub>O
                            </th>
                            <th class="text-center">CO</th>
                            <th class="text-center">SO<sub>2</sub></th>
                            <th class="text-center">NO<sub>x</sub></th>
                            <th class="text-center">Pb</th>
                            <th class="text-center">Zn</th>
                    </thead>
                    <tbody class="text-center">
                    </tbody>
                </table>
                <script id="tpl-transportInventoryTable" type="text/template">
                       <tr>
                           <td>#materialName#</td>
                           <td>#amount#</td>
                           <td>#vehicleModel#</td>
                           <td>#distance#</td>
                           <td>#cost#</td>
                           <td>#energyConsume#</td>
                           <td>#emissionCo2#</td>
                           <td>#emissionCh4#</td>
                           <td>#emissionN2o#</td>
                           <td>#emissionCo#</td>
                           <td>#emissionSo2#</td>
                           <td>#emissionNox#</td>
                           <td>#emissionPb#</td>
                           <td>#emissionZn#</td>
                       </tr>
                    </script>
            </div>
            <form id="inventoryTransportForm" class="form-horizontal" role="form">
                <fieldset>
                    <legend>请输入运输条件：</legend>
                    <div class="form-group" id="aggregateVehicleSelect" style="display: none;">
                        <label class="col-md-3 control-label">车辆型号/载重（集料）：</label>
                        <div class="col-md-5">
                            <select id="aggregateVehicleModel" name="aggregateVehicleModel" class="form-control" style="width: 100%">
                            </select>
                        </div>
                        <label class="col-md-2 control-label">运距（集料）：</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="请输入集料的运距" id="aggregateDistance"
                                name="aggregateDistance">
                        </div>
                    </div>
                    <div class="form-group" id="asphaltVehicleSelect" style="display: none;">
                        <label class="col-md-3 control-label">车辆型号/载重（沥青）：</label>
                        <div class="col-md-5">
                            <select id="asphaltVehicleModel" name="asphaltVehicleModel" class="form-control" style="width: 100%">
                            </select>
                        </div>
                        <label class="col-md-2 control-label">运距（沥青）：</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="请输入沥青的运距" id="asphaltDistance"
                                name="asphaltDistance">
                        </div>
                    </div>
                    <div class="form-group" id="cementVehicleSelect" style="display: none;">
                        <label class="col-md-3 control-label">车辆型号/载重（水泥）：</label>
                        <div class="col-md-5">
                            <select id="cementVehicleModel" name="cementVehicleModel" class="form-control" style="width: 100%">
                            </select>
                        </div>
                        <label class="col-md-2 control-label">运距（水泥）：</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="请输入水泥的运距" id="cementDistance"
                                name="cementDistance">
                        </div>
                    </div>
                    <div class="form-group" id="mixtureVehicleSelect" style="display: none;">
                        <label class="col-md-3 control-label">车辆型号/载重（混合料）：</label>
                        <div class="col-md-5">
                            <select id="mixtureVehicleModel" name="mixtureVehicleModel" class="form-control" style="width: 100%">
                            </select>
                        </div>
                        <label class="col-md-2 control-label">运距（混合料）：</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="请输入混合料的运距" id="mixtureDistance"
                                name="mixtureDistance">
                        </div>
                    </div>
                </fieldset>
                <div class="text-center">
                    <button class="king-btn king-radius king-success" type="submit">计算运输清单</button>
                </div>
                <hr class="mt5 mb15">
            </form>
		  <div class="table-responsive">
                <table id="mixPaveInventoryTable"
                    class="table table-bordered table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th rowspan="2" class="text-center">燃料名称</th>
                            <th rowspan="2" class="text-center">用量(kg)</th>
                            <th rowspan="2" class="text-center">成本</th>
                            <th rowspan="2" class="text-center">能耗(MJ)</th>
                            <th colspan="8" class="text-center">排放(kg)</th>
                        </tr>
                        <tr>
                            <th class="text-center">CO<sub>2</sub></th>
                            <th class="text-center">CH<sub>4</sub></th>
                            <th class="text-center">N<sub>2</sub>O
                            </th>
                            <th class="text-center">CO</th>
                            <th class="text-center">SO<sub>2</sub></th>
                            <th class="text-center">NO<sub>x</sub></th>
                            <th class="text-center">Pb</th>
                            <th class="text-center">Zn</th>
                    </thead>
                    <tbody class="text-center">
                    </tbody>
                </table>
                <script id="tpl-mixPaveInventoryTable" type="text/template">
                       <tr>
                           <td>#fuelName#</td>
                           <td>#amount#</td>
                           <td>#cost#</td>
                           <td>#energyConsume#</td>
                           <td>#emissionCo2#</td>
                           <td>#emissionCh4#</td>
                           <td>#emissionN2o#</td>
                           <td>#emissionCo#</td>
                           <td>#emissionSo2#</td>
                           <td>#emissionNox#</td>
                           <td>#emissionPb#</td>
                           <td>#emissionZn#</td>
                       </tr>
                    </script>
            </div>
            <form id="inventoryMixPaveForm" class="form-horizontal" role="form">
                <fieldset>
                    <legend>请选择施工设备：</legend>
	                <div class="form-group">
	                    <label class="col-md-2 control-label">拌合楼型号：</label>
	                    <div class="col-md-4">
	                        <select id="mixEqupType" name="mixEqupType" class="form-control" style="width: 100%">
	                        </select>
	                    </div>
	                    <!-- 
	                    <label class="col-md-2 control-label">拌合楼日产量：</label>
	                    <div class="col-md-3">
	                        <input type="text" class="form-control" placeholder="" id=""
	                            name="">
	                    </div>
	                     -->
	                </div>
	                <div class="form-group">
	                    <label class="col-md-2 control-label">摊铺车型号：</label>
	                    <div class="col-md-4">
	                        <select id="pavingEqupType" name="pavingEqupType" class="form-control" style="width: 100%">
	                        </select>
	                    </div>
	                    <!-- 
	                    <label class="col-md-2 control-label">摊铺车日工作量：</label>
	                    <div class="col-md-2">
	                        <input type="text" class="form-control" placeholder="请输入日工作量" id="pavingWorkLoad"
	                            name="pavingWorkLoad">
	                    </div>
	                     -->
	                </div>
                </fieldset>
                <fieldset>
                    <legend>请选择具体燃料：</legend>
                    <div class="form-group">
                        <label class="col-md-2 control-label">汽油：</label>
                        <div class="col-md-4">
                            <select id="gasoline" name="gasoline" class="form-control" style="width: 100%">
                            </select>
                        </div>
                        <label class="col-md-2 control-label">柴油：</label>
                        <div class="col-md-4">
                            <select id="diesel" name="diesel" class="form-control" style="width: 100%">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">重油：</label>
                        <div class="col-md-4">
                            <select id="heavyOil" name="heavyOil" class="form-control" style="width: 100%">
                            </select>
                        </div>
                        <label class="col-md-2 control-label">电：</label>
                        <div class="col-md-4">
                            <select id="electricity" name="electricity" class="form-control" style="width: 100%">
                            </select>
                        </div>
                    </div>
                </fieldset>
                <div class="text-center">
	                <button class="king-btn king-radius king-success" type="submit">
	                               计算施工清单</button>
                </div>
            </form>
		</div>
	</div>

	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<h3 class="panel-title"><b>使用</b></h3>
		</div>
		<div class='panel-body'>
			<p>暂无数据</p>
		</div>
	</div>
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<h3 class="panel-title"><b>养护</b></h3>
		</div>
		<div class='panel-body'>
			<p>暂无数据</p>
		</div>
	</div>
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<h3 class="panel-title"><b>回收</b></h3>
		</div>
		<div class='panel-body'>
			<p>暂无数据</p>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-md-6">
			<div class="panel king-panel1">
				<div class="panel-heading king-panel-head1 king-panel-top3"
					role="tab" id="heading4">
					<div class="king-panel-control">
						<a role="button" data-toggle="collapse" data-parent="#accordion"
							href="#collapse4" aria-expanded="true" aria-controls="collapse4"
							class="fa fa-minus-square-o fa-lg" title="折叠"></a>
					</div>
					<h3 class="panel-title">运输</h3>
				</div>
				<div id="collapse4" class="panel-collapse collapse in"
					role="tabpanel" aria-labelledby="heading4">
					<div class="panel-body">
						<div class="table-responsive">
							<table
								class="table table-bordered table-hover table-striped table-condensed">
								<thead>
									<tr>
										<th class="text-center">运输材料</th>
										<th class="text-center">运输量</th>
										<th class="text-center">车辆型号</th>
										<th class="text-center">运输距离</th>
										<th class="text-center">油耗</th>
										<th class="text-center">种类</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr>
										<td>&nbsp;</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-responsive">
							<table
								class="table table-bordered table-hover table-striped table-condensed">
								<thead>
									<tr>
										<th colspan="2"></th>
										<th class="text-center">汽油</th>
										<th class="text-center">柴油</th>
										<th class="text-center">重油</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr>
										<td colspan="2">用量</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="2">成本</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="2">能耗</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td rowspan="5">排放</td>
										<td>CO2-e</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>TP</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>TN</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Pb</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Zn</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel king-panel1">
				<div class="panel-heading king-panel-head1 king-panel-top3"
					role="tab" id="heading3">
					<div class="king-panel-control">
						<a role="button" data-toggle="collapse" data-parent="#accordion"
							href="#collapse3" aria-expanded="true" aria-controls="collapse3"
							class="fa fa-minus-square-o fa-lg" title="折叠"></a>
					</div>
					<h3 class="panel-title">拌和</h3>
				</div>
				<div id="collapse3" class="panel-collapse collapse in"
					role="tabpanel" aria-labelledby="heading3">
					<div class="panel-body">
						<div class="table-responsive">
							<table
								class="table table-bordered table-hover table-striped table-condensed">
								<thead>
									<tr>
										<th class="text-center">拌和总质量</th>
										<th class="text-center">拌和站效率</th>
										<th class="text-center">拌和时间</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr>
										<td>&nbsp;</td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-responsive">
							<table
								class="table table-bordered table-hover table-striped table-condensed">
								<thead>
									<tr>
										<th colspan="2"></th>
										<th class="text-center">集料</th>
										<th class="text-center">水泥</th>
										<th class="text-center">沥青</th>
										<th class="text-center">钢</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr>
										<td colspan="2">用量</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="2">成本</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="2">能耗</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td rowspan="5">排放</td>
										<td>CO2-e</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>TP</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>TN</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Pb</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Zn</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="panel king-panel1">
				<div class="panel-heading king-panel-head1 king-panel-top3"
					role="tab" id="heading5">
					<div class="king-panel-control">
						<a role="button" data-toggle="collapse" data-parent="#accordion"
							href="#collapse5" aria-expanded="true" aria-controls="collapse5"
							class="fa fa-minus-square-o fa-lg" title="折叠"></a>
					</div>
					<h3 class="panel-title">运输2</h3>
				</div>
				<div id="collapse5" class="panel-collapse collapse in"
					role="tabpanel" aria-labelledby="heading5">
					<div class="panel-body">
						<div class="table-responsive">
							<table
								class="table table-bordered table-hover table-striped table-condensed">
								<thead>
									<tr>
										<th class="text-center">运输材料</th>
										<th class="text-center">运输量</th>
										<th class="text-center">车辆型号</th>
										<th class="text-center">运输距离</th>
										<th class="text-center">油耗</th>
										<th class="text-center">种类</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr>
										<td>&nbsp;</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="table-responsive">
							<table
								class="table table-bordered table-hover table-striped table-condensed">
								<thead>
									<tr>
										<th colspan="2"></th>
										<th class="text-center">汽油</th>
										<th class="text-center">柴油</th>
										<th class="text-center">重油</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr>
										<td colspan="2">用量</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="2">成本</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td colspan="2">能耗</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td rowspan="5">排放</td>
										<td>CO2-e</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>TP</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>TN</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Pb</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Zn</td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="panel king-panel1">
				<div class="panel-heading king-panel-head1 king-panel-top3"
					role="tab" id="heading6">
					<div class="king-panel-control">
						<a role="button" data-toggle="collapse" data-parent="#accordion"
							href="#collapse6" aria-expanded="true" aria-controls="collapse6"
							class="fa fa-minus-square-o fa-lg" title="折叠"></a>
					</div>
					<h3 class="panel-title">施工</h3>
				</div>
				<div id="collapse6" class="panel-collapse collapse in"
					role="tabpanel" aria-labelledby="heading6">
					<div class="panel-body">
						<div class="table-responsive">
							<table
								class="table table-bordered table-hover table-striped table-condensed">
								<thead>
									<tr>
										<th class="text-center">车辆型号</th>
										<th class="text-center">台班数</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr>
										<td>&nbsp;</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<div class="text-center">
				<button class="king-btn king-radius king-success" type="button"
					id="inventory-lastStep">
					<i class="fa fa-arrow-left btn-icon"></i>上一步
				</button>
				<!-- 
                <a class="king-btn king-radius king-default" title="返回"> <i
                    class="fa fa-mail-reply-all btn-icon"></i>返回
                </a>
                 -->
			</div>
		</div>
	</div>
</div>