<div id="step-output" style="display:none;">
    <div class="panel king-panel1">
        <div class="panel-heading king-panel-head1 king-panel-top3">
            <h3 class="panel-title"><b>清单分析结果</b></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div id="chartCostInventory" class="col-md-6" style="height: 400px;"></div>
                <div id="chartEnergyInventory" class="col-md-6" style="height: 400px;"></div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div id="chartCo2Inventory" class="col-md-6" style="height: 400px;"></div>
                <div id="chartSo2Inventory" class="col-md-6" style="height: 400px;"></div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div id="chartPbInventory" class="col-md-6" style="height: 400px;"></div>
                <div id="chartZnInventory" class="col-md-6" style="height: 400px;"></div>
            </div>
        </div>
    </div>
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<h3 class="panel-title"><b>影响评价结果</b></h3>
		</div>
		<div class="panel-body">
		    <div class="row">
			    <div id="chartCostInfluence" class="col-md-6 col-md-offset-3" style="height: 400px;"></div>
		    </div>
		</div>
	</div>
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<h3 class="panel-title"><b>数据分析结果</b></h3>
		</div>
		<div class="panel-body">
		  <form class="form-horizontal" role="form">
            <fieldset id="chartProbability" style="display: none;">
              <legend>数据概率性分析</legend>
              <div class="row">
	              <div id="chartCostProbability" class="col-md-6" style="height: 400px;"></div>
	              <div id="chartEnergyProbability" class="col-md-6" style="height: 400px;display: none;"></div>
	              <div id="chartGwpProbability" class="col-md-6" style="height: 400px;display: none;"></div>
	              <div id="chartSourProbability" class="col-md-6" style="height: 400px;display: none;"></div>
	              <div id="chartEutrophicationProbability" class="col-md-6" style="height: 400px;display: none;"></div>
              </div>
              <div class="row">
                <div id="chartCostAndEnvCost" class="col-md-6 col-md-offset-3" style="height: 400px;"></div>
            </div>
            </fieldset>
            <fieldset>
              <legend>数据本地适用性分析</legend>
              <div class="form-group">
                <label class="col-sm-2 control-label">数据适用性参数β：</label>
                <div class="col-sm-10">
                  <p id="beta" class="form-control-static"></p>
                </div>
              </div>
            </fieldset>
          </form>
                  
		    
		</div>
	</div>
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<div class="text-center">
			    <button class="king-btn king-radius king-info" type="button" id="output-prevStep">
                    <i class="fa fa-arrow-left btn-icon"></i>影响评价
                </button>
				<button class="king-btn king-radius king-info" type="button" id="download">
					<i class="fa fa-download btn-icon"></i>下载报告
				</button>
			</div>
		</div>
	</div>
</div>