<div id="step-output" style="display:none;">
    <div class="panel king-panel1" id="">
        <div class="panel-heading king-panel-head1 king-panel-top3">
            <h3 class="panel-title"><b>清单分析结果</b></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div id="chartCostInventory" class="col-md-6" style="height: 400px;"></div>
                <div id="chartEnergyInventory" class="col-md-6" style="height: 400px;"></div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div id="chartCo2Inventory" class="col-md-6" style="height: 400px;"></div>
                <div id="chartSo2Inventory" class="col-md-6" style="height: 400px;"></div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div id="chartPbInventory" class="col-md-6" style="height: 400px;"></div>
                <div id="chartZnInventory" class="col-md-6" style="height: 400px;"></div>
            </div>
        </div>
    </div>
    
	<div class="panel king-panel1" id="">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<h3 class="panel-title"><b>影响评价结果</b></h3>
		</div>
		<div class="panel-body">
		    <div id="chartCostInfluence" style="height: 400px;"></div>
		</div>
	</div>
	
	<div class="panel king-panel1" id="">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<h3 class="panel-title"><b>数据分析结果</b></h3>
		</div>
		<div class="panel-body">
		    
		</div>
	</div>
	<div class="panel king-panel1">
		<div class="panel-heading king-panel-head1 king-panel-top3">
			<div class="text-center">
			    <button class="king-btn king-radius king-success" type="button" id="output-prevStep">
                    <i class="fa fa-arrow-left btn-icon"></i>上一步
                </button>
				<button class="king-btn king-radius king-success" type="button" id="download">
					<i class="fa fa-download btn-icon"></i>下载报告
				</button>
			</div>
		</div>
	</div>
</div>