<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tk.mybatis.springboot.mapper.MaterialMapper" >
  <resultMap id="BaseResultMap" type="tk.mybatis.springboot.model.Material" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="material_name" property="materialName" jdbcType="VARCHAR" />
    <result column="material_category_cd" property="materialCategoryCd" jdbcType="INTEGER" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="cost" property="cost" jdbcType="VARCHAR" />
    <result column="cost_source" property="costSource" jdbcType="VARCHAR" />
    <result column="energy_consume" property="energyConsume" jdbcType="DOUBLE" />
    <result column="emission_co2" property="emissionCo2" jdbcType="DOUBLE" />
    <result column="emission_ch4" property="emissionCh4" jdbcType="DOUBLE" />
    <result column="emission_n2o" property="emissionN2o" jdbcType="DOUBLE" />
    <result column="emission_co" property="emissionCo" jdbcType="DOUBLE" />
    <result column="emission_so2" property="emissionSo2" jdbcType="DOUBLE" />
    <result column="emission_nox" property="emissionNox" jdbcType="DOUBLE" />
    <result column="emission_pb" property="emissionPb" jdbcType="DOUBLE" />
    <result column="emission_zn" property="emissionZn" jdbcType="DOUBLE" />
    <result column="data_source" property="dataSource" jdbcType="VARCHAR" />
    <result column="collect_time" property="collectTime" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
  </resultMap>
  <!-- 查询cd表 -->
  <select id="getMaterialCategoryCd" resultType="tk.mybatis.springboot.service.cd.CdObject">
    SELECT
    material_category_cd AS id, name AS text
    FROM cd_material_category
  </select>
  
  <select id="getCreateUserIdById" parameterType="int" resultType="int">
    SELECT create_user_id FROM material WHERE id = #{_parameter}
  </select>
  
</mapper>